<pp-content-wrapper contenttitle="Accept Consent">

    <div class="row">
        <div class="col-sm-12">
            <h2 class="m-t-none">Consent to Share My Medical Information</h2>
            <div class="">
                <p class="m-b-xxs"><strong>Consent Reference Number:</strong></p>
                <p><span>MHC.HC3AFH:&2.16.840.1.113883.3.704.100.200.1.1.3.1&ISO:1518239631:1790718047:OEATAM</span></p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="inline m-r">Patient Name: <span><h3 class="inline">Bob Lastname</h3></span></p>
                </div>
                <div class="col-sm-6">
                    <p class="inline m-r">DOB: <span><h3 class="inline">07/04/1976</h3></span></p>
                </div>
            </div>
            <div>
                <div class="alert alert-info navbar-blue p-xs"><strong>AUTHORIZATION TO DISCLOSE</strong></div>
            </div>
            <div>
                This is a Consent made by Bob Lastname

                Name: Bob Lastname
                authorizes:
                Provider Name Phone Address NPI Number
                to disclose to:
                Provider Name Phone Address NPI Number

                <div class="row">
                    <div class="col-sm-6">
                        <h3>Share the following medical information:</h3>
                        <h5>Sensitivity Categories:</h5>
                        <ul>
                            <li>Addictions Information</li>
                            <li>Alcohol use and Alcoholism Information</li>
                        </ul>
                        <h5>Medical Information Categories:</h5>
                        <ul>
                            <li>Allergies</li>
                            <li>Medications</li>
                            <li>Problems</li>
                            <li>Results</li>
                        </ul>
                    </div>
                    <div class="col-sm-6"><h3>Share for the following purposes:</h3>
                        <ul>
                            <li>Health Treatment</li>
                            <li>Medications</li>
                            <li>Problems</li>
                            <li>Results</li>
                        </ul>
                        <p>Share for the following purpose(s):</p>
                    </div>
                </div>

                <p>I understand that my records are protected under the federal regulations governing Confidentiality of
                    Alcohol and Drug Abuse Patient Records,
                    42 CFR part 2, and cannot be disclosed without my written permission or as otherwise permitted by 42
                    CFR part 2,. I also understand that I may revoke
                    this consent at any time except to the extent that action has been taken in reliance on it, and that
                    any event this consent expires
                    automatically as follows:</p>
                <p>Effective Date: 04/08/16</p>
                <p>Expiration Date: 04/08/17</p>

                <p>
                    I understand that my records are protected under the federal regulations governing Confidentiality
                    of Alcohol and Drug Abuse Patient Records, 42 CFR Part 2, and cannot be disclosed without my
                    written consent unless otherwise provided for in the regulations, and may not be redisclosed
                    without my written permission or as otherwise permitted by 42 CFR part 2. I also understand that I
                    may revoke this consent at any time except to the extent that action has been taken in reliance on
                    it, and that in any event this consent expires automatically within one year.

                </p>
            </div>
            <ul class="todo-list m-t">
                <li>
                    <input icheck type="checkbox" ng-model="check1">
                    <span class="m-l-xs">Buy a milk</span>
                    <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 mins</small>
                </li>
                <li>
                    <input class="icheckbox_square-green" icheck type="checkbox" ng-model="main.checkOne">
                    <span class="m-l-xs">Go to shop and find some products.</span>
                    <small class="label label-info"><i class="fa fa-clock-o"></i> 3 mins</small>
                </li>
                <li>
                    <div class="icheckbox_square-green checked" style="position: relative;"><input icheck=""
                                                                                                   type="checkbox"
                                                                                                   ng-model="main.checkOne"
                                                                                                   class="ng-valid ng-dirty"
                                                                                                   style="position: absolute; opacity: 0;">
                        <ins class="iCheck-helper"
                             style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                    </div>
                    <span class="m-l-xs">Go to shop and find some products.</span>
                    <small class="label label-info"><i class="fa fa-clock-o"></i> 3 mins</small>
                </li>
            </ul>
        </div>
    </div>
</pp-content-wrapper>






