<nav class="navbar navbar-fixed-top height-55 gray-bg border-bottom m-b-none"
     role="navigation"
     ng-class="{'margin-left-220': AppVm.togglebar}">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <span c2s-minimaliza-sidebar togglesidebar="AppVm.toggleSideBar()"></span>
                </div>
                <div class="pull-right">
                    <div class="m-t-sm m-b-sm m-r inline">
                        <c2s-logout></c2s-logout>
                    </div>
                    <div class="m-t-sm m-b-sm m-r inline">
                        <c2s-top-navbar-logo></c2s-top-navbar-logo>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>