<div class="container-fluid left-right-padding-0">
    <div class="page-bg-white" id="topPage">
        <div class="mediumgray-bg">
            <div class="custom-header modified">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-left login-logo">
                            <img src="assets/img/mhc_white.png" alt="My Health Compass Logo">
                        </div>
                        <div class="pull-right info-link">
                            <span class="side-padding10">HOME</span> <span>ABOUT</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="loginColumns animated fadeInDown custom-login-column modified">
                        <div class="row">
                            <div class="col-md-5">
                                <h1 class="font-bold">Take control of your health and well-being with My Health Compass.</h1>
                            </div>
                            <div class="col-md-7 skin-1">
                                <div class="ibox-content img-circle">
                                    <h2 class="font-bold">Register Today!</h2>
                                    <small> To register for My Health Compass, please contact your provider and ask about a My Health Compass Account.</small>
                                    <div class="m-t text-center">
                                        <oauth
                                                site="{{AppVm.oauth.site}}"
                                                client-id="{{AppVm.oauth.clientId}}"
                                                redirect-uri="{{AppVm.oauth.redirectUri}}"
                                                profile-uri="{{AppVm.oauth.profileUri}}"
                                                scope="{{AppVm.oauth.scope}}"
                                                template="{{AppVm.oauth.template}}"
                                                state="{{AppVm.oauth.state}}">
                                        </oauth>
                                    </div>
                                    <p class="m-t text-center"> Version: {{::loginVm.version}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-container " >
            <div class="row " style="background-color: #fff">
                <div class="col-md-4 padding-bottom-15">
                    <div id="ppTop" class="text-left">
                        <h3><i class="fa fa-graduation-cap fa-2x"></i>  About Your My Health Compass account.</h3>
                    </div>
                    <p>
                        My Health Compass is a secure online website that gives you convenient 24-hour access to your personal health record from anywhere using an internet connection. It can help you to become more informed about your health care and thus to be more involved in your health care.
                    </p>
                    <span>
                        <a href="#aboutHIEPortal" class="btn btn-xs btn-primary dark-green" ng-click="loginVm.scrollTo('aboutHIEPortal')">Read More</a>
                    </span>
                </div>
                <div class="col-md-4 padding-bottom-15">
                    <div class="text-left">
                        <h3><i class="fa fa-medkit fa-2x"></i>  How Can My Health Compass Help Me?</h3>
                    </div>
                    <p>
                        Think of My Health Compass as a very helpful tool. It can help put you in charge of your own health information. It will help you quickly find your health information—from all of your health care providers—in one place! Not only can you view and print your health information, you can add information, communicate with your providers, manage your prescriptions, and many more actions, described below.
                    </p>

                    <span >
                        <a href="#patientPortalHelpMe" class="btn btn-xs btn-primary dark-green" ng-click="loginVm.scrollTo('patientPortalHelpMe')">Read More</a>
                    </span>

                </div>
                <div class="col-md-4 padding-bottom-15">
                    <div class="text-left">
                        <h3><i class="fa fa-eye-slash fa-2x"></i>  Is My Information Private and Secure?</h3>
                    </div>
                    <p>
                        Yes. Your My Health Compass account has many privacy and security safeguards designed to protect your health information. Even though your health information is online, it is private and only accessible by authorized people, such as your health care providers.
                    </p>
                    <span >
                        <a href="#informationPrivacySecure" class="btn btn-xs btn-primary dark-green" ng-click="loginVm.scrollTo('informationPrivacySecure')">Read More</a>

                    </span>
                </div>
            </div>
        </div>
        <div class="border-bottom" style="background-color: #fff"><br></div>

        <!--Content/More Information-->
        <div id="aboutHIEPortal">
            <div class="footer-container border-bottom">
                <div class="text-center ">
                    <i class="icon-border fa fa-graduation-cap fa-3x"></i>
                </div>
                <div class="row " >
                    <div class="col-sm-10 col-sm-offset-1"  >
                        <h3> About your My Health Compass account.</h3>
                        <p>
                            My Health Compass is a secure online website that gives you convenient 24-hours access to your personal health record from anywhere using an internet connection. It can help you to become more informed about your health care and thus to be more involved in your health care.
                        </p>
                        <h4> What is an HIE?</h4>
                        <p>
                            The term HIE is an abbreviation for electronic health record (HIE). Your HIE is a digital or electronic version of your health record. An HIE is a real-time, patient-centered electronic health record that makes your health information instantly available to you and authorized users.
                        </p>
                        <h4>What is My Health Compass?</h4>
                        <p>
                            My Health Compass is a secure online website that gives you convenient 24-hour access to your personal health record from anywhere using an internet connection. It can help you to become more informed about your health care and thus to be more involved in your health care.
                        </p>
                        <h4>What are the Benefits of a My Health Compass account?</h4>
                        <p>
                            My Health Compass allow patients and health care providers to communicate and share health information online, as a supplement to face-to-face office visits. They can help you to view your health information and test results. There are many more benefits, described on the How Can My Health Compass Help Me? page.
                        </p>
                        <h4>How to Navigate Your My Health Compass?</h4>
                        <p>
                            This brief presentation will demonstrate how to log in and navigate through your My Health Compass account, view your health records, manage your prescriptions, add health information, review reminders, access health education materials, and more.<br><br><a href="#ppTop" class="btn btn-xs btn-primary dark-green" ng-click="loginVm.scrollTo('topPage')">Back to Top</a>
                        </p>
                   </div>
                 </div>
            </div>
        </div>

        <div id="patientPortalHelpMe">
            <div class="footer-container border-bottom">
                <div class="text-center ">
                    <i class="icon-border fa fa-medkit fa-3x"></i>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h3> How can My Health Compass Help Me?</h3>
                        <p>
                            Think of My Health Compass as a very helpful tool. It can help put you in charge of your own health information. It will help you quickly find your health information—from all of your health care providers—in one place! Not only can you view and print your health information, you can add information, communicate with your providers, manage your prescriptions, and many more actions, described below.
                        </p>
                        <h4>How can I Use My Health Compass?</h4>
                        <p>
                            One of the most obvious and powerful ways you can use My Health Compass is to view your health records from all of your providers in a single location. Also, My Health Compass organizes your health information in ways that are meaningful and useful to you. It will help you better understand your health information, help you to be better informed, and help you to be more involved in your health care.
                        </p>
                        <h4>How Else can I Use My Health Compass?</h4>
                        <p>
                            Your My Health Compass account can help you to do many things:
                        </p>
                        <ul style="list-style-type: disc">
                            <li><p>
                                <strong>Add Health Information:</strong> Not only can you view your health information, you can add to it. For example, if you monitor certain health activities, such as monitoring your blood glucose levels, you can use My Health Compass to store your blood glucose levels. If you collect data using medical and health apps, you can download your health data to your My Health Compass account and share that information with your physician. You can use My Health Compass to keep a health diary and document your medical symptoms.
                            </p></li>
                            <li><p>
                                <strong>Obtain Laboratory Results:</strong> After a lab or other test, your physician may have explained the results to you. But you can use My Health Compass to obtain a complete copy of the test results so that you can better understand it, share with your family, and share with other providers.
                            </p></li>
                            <li><p>
                                <strong>Correct Inaccurate Information:</strong> As you view your health information, do you notice any inaccuracies? If so, you can use My Health Compass to contact your health care provider and make your health information accurate.
                            </p></li>
                            <li><p>
                                <strong>Get Reminders:</strong> You can use My Health Compass to get reminders about upcoming medical appointments, lab test appointments, prescription refills and other health-related events.
                            </p></li>
                            <li><p>
                                <strong>Communicate, Make Appointments, and Manage Prescriptions:</strong> You can use My Health Compass to communicate electronically with your health care provider to ask questions or share information with your health care provider. You can view your upcoming health care appointments and make appointments. You can view your prescription medication history, view your current medication regimen, and request refills of your medications from your provider.
                            </p></li>
                            <li><p>
                                <strong>Access Health Educational Materials:</strong> You can use My Health Compass to obtain authoritative information about medical problems, prevention, treatments, and what you can do to manage your medical problems and improve your health.
                            </p></li>
                            <li><p>
                                <strong>Complete Assessments and Forms:</strong> There may be times when your health care providers ask you to complete medical assessments or forms. You can use My Health Compass to complete these forms online rather than using a paper version.
                            </p></li>
                            <li><p>
                                <strong>Manage Online Billing and Payment:</strong> You can use your My Health Compass account to view your billing and payment information and to make medical payments online.
                            </p></li>
                        </ul>
                        <a href="#ppTop" class="btn btn-xs btn-primary dark-green m-t-xs" ng-click="loginVm.scrollTo('topPage')">Back to Top</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="informationPrivacySecure">
            <div class="footer-container border-bottom">
                <div class="text-center ">
                    <i class="icon-border fa fa-eye-slash fa-3x"></i>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h3>Is My Information Private and Secure?</h3>
                        <p>
                            Yes. Your My Health Compass account has many privacy and security safeguards designed to protect your health information. Even though your health information is online, it is private and only accessible by authorized people, such as your health care providers.
                        </p>
                        <h4>Is My Health Information Secure?</h4>
                        <p>
                            Yes. Your EHR Portal protects your health information through password protection, data encryption, and other technical safeguards. Your EHR My Health Compass meets very high health information technology standards regarding privacy, security, and protection. It also complies with federal laws regarding health information.
                        </p>
                        <h4>How can I Keep my Health Information Safe?</h4>
                        <p>
                            You can help to keep your information safe by using normal safe internet practices. For instance, use a strong password and update it often. Do not share your username or password with others. You should log on to the EHR Patient Portal only from a personal or secure computer and not a public computer.<br><br> <a href="#ppTop" class="btn btn-xs btn-primary dark-green" ng-click="loginVm.scrollTo('topPage')">Back to top</a>
                        </p>
                    </div>
                 </div>
             </div>
        </div>
    </div>
</div>



