<div class="dropdown profile-element" dropdown>
    <img alt="Patient profile photo" class="img-circle" ng-src="{{profileMenuVm.profileImgPath}}"/>
    <a class="dropdown-toggle" dropdown-toggle href="">
        <span class="clear">
            <span class="block m-t-xs">
                <strong class="font-bold"></strong>
            </span>
            <span class="text-muted text-xs block light-blue">
                <span ng-bind="profileMenuVm.name"></span>
                <b class="caret"></b>
            </span>
         </span>
    </a>
    <ul class="dropdown-menu animated fadeInRight m-t-xs">
        <li><a href="">Profile</a></li>
        <li class="divider"></li>
        <li><a href="" ng-click="profileMenuVm.logout()">Logout</a></li>
    </ul>
</div>