<div class="dropdown profile-element center">
    <img alt="Patient profile photo" class="img-circle" ng-src="assets/img/{{profileMenuVm.profileImgName}}"  ng-cloak/>
    <a class="dropdown-toggle" dropdown-toggle href="">
        <span class="clear">
            <span class="block m-t-xs">
                <strong class="font-bold"></strong>
            </span>
            <span class="text-muted text-xs block light-blue">
                <span ng-bind="profileMenuVm.name"></span>
            </span>
         </span>
    </a>
</div>