<div>
    <div class="row">
        <div class="col-sm-12" id="provider_lookup_search">
            <div class="ibox panel panel-darkblue float-e-margins">
                <div class="ibox-title  modified panel-heading">
                    <h2>Search</h2>

                    <div pp-ibox-tools></div>
                </div>
                <div class="ibox-content modified">
                    <form role="form" name="providerSearchForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-info">
                                    <span class="badge btn-success btn-circle bg-color-blue m-r-xs">1</span>&nbsp;<b>Step 1.</b>
                                    Please enter
                                    the
                                    provider <b>State and City</b> OR <b>Zip Code</b>.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5"
                                 ng-class="{'light-grey': providerLookupSearchVm.formViewValue(providerSearchForm, 'providerZipCode')}">
                                <h3 class="m-t-none m-b">Enter State and City.</h3>

                                <div class="form-group">
                                    <label for="state" class="control-label">State</label>
                                    <select id="state" class="form-control m-b" name="providerState"
                                            ng-model="providerLookupSearchVm.plsQueryParameters.usstate"
                                            ng-change="providerLookupSearchVm.usstateChanged()"
                                            ng-disabled="providerLookupSearchVm.formViewValue(providerSearchForm, 'providerZipCode')"
                                            ng-required="!providerLookupSearchVm.plsQueryParameters.zipcode">
                                        <option value="">-- Please Select --</option>
                                        <option value="AZ">ARIZONA</option>
                                        <option value="DC">DISTRICT OF COLUMBIA</option>
                                        <option value="MD">MARYLAND</option>
                                        <option value="VA">VIRGINIA</option>
                                    </select>

                                    <div class="info-blue italic m-b"
                                         ng-if="providerLookupSearchVm.formViewValue(providerSearchForm, 'providerZipCode')">
                                        Please clear "Enter Zip Code" information to add "Enter State and City"
                                        information.
                                    </div>
                                </div>
                                <div class="form-group" ng-if="providerLookupSearchVm.plsQueryParameters.usstate">
                                    <label for="city" class="control-label">City (Required)</label>
                                    <Input id="city" class="form-control m-b" type="text" placeholder="Enter City"
                                           name="providerCity"
                                           ng-model="providerLookupSearchVm.plsQueryParameters.city"
                                           ng-minlength="providerLookupSearchVm.formMinlength"
                                           ng-maxlength="providerLookupSearchVm.formMaxlength"
                                           ng-required="providerLookupSearchVm.plsQueryParameters.usstate"/>

                                    <div ng-messages="providerSearchForm.providerCity.$error"
                                         class="text-alert" role="alert">
                                        <div ng-message="minlength">Minimum {{providerLookupSearchVm.formMinlength}}
                                            characters
                                        </div>
                                        <div ng-message="maxlength">Maximum {{providerLookupSearchVm.formMaxlength}}
                                            characters
                                        </div>
                                        <div ng-message="required">Required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1 m-b">
                                <p>OR</p>
                            </div>
                            <div class="col-sm-5"
                                 ng-class="{'light-grey': providerLookupSearchVm.formViewValue(providerSearchForm, 'providerState')}">
                                <h3 class="m-t-none m-b">Enter Zip Code</h3>

                                <div class="row">
                                    <div class="col-sm-5 form-group">
                                        <label for="zip" class="control-label">Zip Code</label>
                                        <Input id="zip" class="form-control m-b" type="text" name="providerZipCode"
                                               placeholder="Enter Zip Code"
                                               ng-model="providerLookupSearchVm.plsQueryParameters.zipcode"
                                               ng-disabled="providerLookupSearchVm.formViewValue(providerSearchForm, 'providerState')"
                                               ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/"
                                               ng-required="!providerLookupSearchVm.plsQueryParameters.usstate"/>

                                        <div ng-messages="providerSearchForm.providerZipCode.$error"
                                             class="text-alert" role="alert">
                                            <div ng-message="pattern">Please provide a valid zip code (12345 or
                                                12345-6789)
                                            </div>
                                            <!--<div ng-message="required">Required</div>-->
                                        </div>
                                    </div>
                                    <div class="col-sm-12 info-blue italic m-b m-t-n"
                                         ng-if="providerLookupSearchVm.formViewValue(providerSearchForm, 'providerState')">
                                        Please clear "Enter State and City" information to add "Enter Zip Code"
                                        information.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-info">
                                    <span class="badge btn-success bg-color-blue btn-circle m-r-xs">2</span>&nbsp;<b>Step 2.</b>
                                    Please enter
                                    the
                                    <b>Facility Name</b> OR <b>Provider Name and
                                    Other Criteria</b>.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5"
                                 ng-class="{'light-grey': providerLookupSearchVm.formViewValue(providerSearchForm, 'providerFacilityName')}">
                                <h3 class="m-t-none m-b">Enter Provider Name and Other Criteria</h3>

                                <div class="form-group">
                                    <label for="last_name" class="control-label">Provider Last Name</label>
                                    <Input id="last_name" class="form-control m-b" type="text" name="providerLastName"
                                           placeholder="Last Name"
                                           ng-model="providerLookupSearchVm.plsQueryParameters.lastname"
                                           ng-change="providerLookupSearchVm.lastnameChanged()"
                                           ng-disabled="providerLookupSearchVm.formViewValue(providerSearchForm, 'providerFacilityName')"
                                           ng-required="!providerLookupSearchVm.plsQueryParameters.facilityname"
                                           ng-minlength="providerLookupSearchVm.formMinlength"
                                           ng-maxlength="providerLookupSearchVm.formMaxlength"/>

                                    <div ng-messages="providerSearchForm.providerLastName.$error"
                                         class="text-alert" role="alert">
                                        <div ng-message="minlength">Minimum {{providerLookupSearchVm.formMinlength}}
                                            characters
                                        </div>
                                        <div ng-message="maxlength">Maximum {{providerLookupSearchVm.formMaxlength}}
                                            characters
                                        </div>
                                        <!--<div ng-message="required">Required</div>-->
                                    </div>
                                </div>
                                <div class="form-group" ng-if="providerLookupSearchVm.plsQueryParameters.lastname">
                                    <label for="first_name" class="control-label">First Name (Optional)</label>
                                    <Input id="first_name" class="form-control m-b" type="text" name="providerFirstName"
                                           placeholder="First Name"
                                           ng-model="providerLookupSearchVm.plsQueryParameters.firstname"
                                           ng-minlength="providerLookupSearchVm.formMinlength"
                                           ng-maxlength="providerLookupSearchVm.formMaxlength"/>

                                    <div ng-messages="providerSearchForm.providerFirstName.$error"
                                         class="text-alert" role="alert">
                                        <div ng-message="minlength">Minimum {{providerLookupSearchVm.formMinlength}}
                                            characters
                                        </div>
                                        <div ng-message="maxlength">Maximum {{providerLookupSearchVm.formMaxlength}}
                                            characters
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6"
                                         ng-if="providerLookupSearchVm.plsQueryParameters.lastname">
                                        <label for="gender" class="control-label">Gender (Optional)</label>
                                        <select id="gender" class="form-control m-b" name="providerGender"
                                                ng-model="providerLookupSearchVm.plsQueryParameters.gender">
                                            <option value="">Please Select</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6"
                                         ng-if="providerLookupSearchVm.plsQueryParameters.lastname">
                                        <label for="individual_provider_telephone" class="control-label">Telephone
                                            (Optional)</label>
                                        <Input id="individual_provider_telephone" class="form-control m-b" type="tel"
                                               placeholder="Telephone"
                                               name="providerPhone"
                                               ng-model="providerLookupSearchVm.plsQueryParameters.phone"
                                               ng-pattern="/\d{3}-\d{3}-\d{4}/"
                                               data-mask="999-999-9999"/>

                                        <div ng-messages="providerSearchForm.providerPhone.$error"
                                             class="text-alert" role="alert">
                                            <div ng-message="pattern">Phone pattern must be 123-456-7890</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-blue italic m-b"
                                     ng-if="providerLookupSearchVm.formViewValue(providerSearchForm, 'providerFacilityName')">
                                    Please clear "Facility Name" information to add "Enter Provider Name and Other
                                    Criteria" information.
                                </div>
                            </div>
                            <div class="col-sm-1 m-b">
                                <p>OR</p>
                            </div>
                            <div class="col-sm-5"
                                 ng-class="{'light-grey': providerLookupSearchVm.formViewValue(providerSearchForm,'providerLastName')}">

                                <h3 class="m-t-none m-b">Facility Name</h3>

                                <div class="form-group">
                                    <label for="facility_name" class="control-label">Facility Name</label>
                                    <Input id="facility_name" class="form-control m-b" type="text"
                                           placeholder="Facility Name"
                                           ng-model="providerLookupSearchVm.plsQueryParameters.facilityname"
                                           ng-change="providerLookupSearchVm.facilitynameChanged()"
                                           ng-minlength="providerLookupSearchVm.formMinlength"
                                           ng-maxlength="providerLookupSearchVm.formMaxlength"
                                           ng-required="!providerLookupSearchVm.plsQueryParameters.lastname"
                                           name="providerFacilityName"
                                           ng-disabled="providerLookupSearchVm.formViewValue(providerSearchForm,'providerLastName')"/>

                                    <div ng-messages="providerSearchForm.providerFacilityName.$error"
                                         class="text-alert" role="alert">
                                        <div ng-message="minlength">Minimum {{providerLookupSearchVm.formMinlength}}
                                            characters
                                        </div>
                                        <div ng-message="maxlength">Maximum {{providerLookupSearchVm.formMaxlength}}
                                            characters
                                        </div>
                                        <!--<div ng-message="required">Required</div>-->
                                    </div>
                                    <div class="info-blue italic m-b"
                                         ng-if="providerLookupSearchVm.formViewValue(providerSearchForm,'providerLastName')">
                                        Please clear "Enter Provider Name and Other Criteria" information to add
                                        "Facility Name" information.
                                    </div>
                                </div>
                                <div class="form-group" ng-if="providerLookupSearchVm.plsQueryParameters.facilityname">
                                    <label for="organizational_provider_telephone" class="control-label">Telephone
                                        (Optional)</label>
                                    <Input id="organizational_provider_telephone" class="form-control m-b" type="tel"
                                           placeholder="Telephone"
                                           name="providerPhoneForFacility"
                                           ng-model="providerLookupSearchVm.plsQueryParameters.phone"
                                           ng-pattern="/\d{3}-\d{3}-\d{4}/"
                                           data-mask="999-999-9999"/>

                                    <div ng-messages="providerSearchForm.providerPhoneForFacility.$error"
                                         class="text-alert" role="alert">
                                        <div ng-message="pattern">Phone pattern must be 123-456-7890</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-xs-5 col-sm-3 col-lg-2">
                                <button class="btn btn-block btn-sm m-r" type="reset"
                                        ng-click="providerLookupSearchVm.reset(providerSearchForm)">Clear
                                    All
                                </button>
                            </div>
                            <div class="col-xs-5 col-sm-3 col-lg-2">
                                <button class="btn btn-block btn-sm btn-primary dark-green" type="button"
                                        ng-click="providerLookupSearchVm.lookupProvider(providerLookupSearchVm.firstPage)"
                                        ng-disabled="providerSearchForm.$invalid">
                                    <strong>Search</strong>
                                </button>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-8" ng-show="providerSearchForm.$invalid">
                                <div class="info-blue italic m-b">
                                    Please complete ALL required fields to activate Search.
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--<div>
        <pre>
            {{providerSearchForm | json}}
        </pre>
    </div>-->

    <provider-lookup-result ng-if="providerLookupSearchVm.providerLookupResult"
                            provider-lookup-result="providerLookupSearchVm.providerLookupResult"
                            query-parameters="providerLookupSearchVm.plsQueryParameters"></provider-lookup-result>
</div>