<div id="provider_lookup_result">
    <div class="row">
        <div class="col-md-6" ng-if="providerLookupResultVm.isEmptyResult()">
            <div class="alert alert-danger">Sorry, no results found.</div>
        </div>
    </div>
    <div class="row">

        <c2s-provider-multi-adding [providers]="providerLookupResultVm.selectedProvidersNpi"></c2s-provider-multi-adding>

        <div class="col-sm-6 col-sm-pull-6">
            <div class="ibox panel panel-darkblue">
                <div class="ibox-title modified panel-heading">
                    <h2 class="font-light">Results</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12" ng-if="!providerLookupResultVm.isEmptyResult()">
                            <div class="text-center">
                                <pagination total-items="providerLookupResultVm.pagination.totalItems"
                                            items-per-page="providerLookupResultVm.pagination.itemsPerPage"
                                            ng-model="providerLookupResultVm.pagination.currentPage"
                                            ng-change="providerLookupResultVm.loadPage()"
                                            max-size="providerLookupResultVm.pagination.maxSize"
                                            class="pagination-sm"
                                            boundary-links="true"></pagination>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-12" ng-if="!providerLookupResultVm.isEmptyResult()">
                            <div class="panel"
                                 ng-class="{'panel-providerSelect': providerLookupResultVm.canSelectProvider(provider.npi),
                                            'panel-default': !providerLookupResultVm.canSelectProvider(provider.npi),
                                            'relative': !providerLookupResultVm.canSelectProvider(provider.npi)}"
                                 ng-repeat="provider in providerLookupResultVm.providerLookupResult.providers">
                                <div class="panel-heading" ng-if="providerLookupResultVm.canSelectProvider(provider.npi)">
                                    <h3 class="m-b-sm">{{provider | plsName}}&nbsp;<span>[NPI: {{provider.npi}}]</span></h3>
                                    <button type="button" class="btn btn-xs btn-primary dark-green" ng-click="providerLookupResultVm.addSelectedProvider(provider)">
                                        <i class="fa fa-plus">
                                            <span class="sr-only">Select this Provider</span>
                                        </i>
                                    </button>
                                    <div class="inline" >
                                        &nbsp;Select this Provider.
                                    </div>
                                </div>
                                <div class="panel-heading" ng-if="providerLookupResultVm.isProviderCurrentlySelected(provider.npi)">
                                    <span class="top-right-ribbon"></span>
                                    <h3 class="m-b-sm">{{provider | plsName}}&nbsp;<span>[NPI: {{provider.npi}}]</span></h3>
                                    <button type="button" class="btn btn-xs white" >
                                        <i class="fa fa-plus">
                                            <span class="sr-only">Provider currently selected.</span>
                                        </i>
                                    </button>
                                    <div class="inline text-dark-gray" >
                                        &nbsp;Provider currently selected.
                                    </div>
                                </div>
                                <div class="panel-heading" ng-if="providerLookupResultVm.isProviderAlreadyAdded(provider.npi)">
                                    <h3 class="m-b-sm text-medium-gray">{{provider | plsName}}&nbsp;<span>[NPI: {{provider.npi}}]</span></h3>
                                    <div class="inline" >
                                        &nbsp;<span class="fa fa-lg fa-check text-navbar-blueGray">
                                        &nbsp;</span>Provider already added.
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <p>{{provider.healthcareProviderTaxonomy_1}}</p>

                                    <p>{{provider | plsAddress}}</p>

                                    <p>{{provider.practiceLocationAddressTelephoneNumber | phone}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" ng-if="!providerLookupResultVm.isEmptyResult()">
                            <div class="text-center">
                                <pagination total-items="providerLookupResultVm.pagination.totalItems"
                                            items-per-page="providerLookupResultVm.pagination.itemsPerPage"
                                            ng-model="providerLookupResultVm.pagination.currentPage"
                                            ng-change="providerLookupResultVm.loadPage()"
                                            max-size="providerLookupResultVm.pagination.maxSize"
                                            class="pagination-sm"
                                            boundary-links="true"></pagination>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>