<div id="wrapper" class="container-fluid page-bg-white">
    <script type="text/ng-template" id="forgot-password-messages">
        <div ng-message="required">{{"PASSWORD.FORGOT_CONTENTS_1" | translate}}</div>
        <div ng-message="email">{{"PASSWORD.FORGOT_CONTENTS_2" | translate}}</div>
    </script>

    <c2s-unsecure-top-navbar title="forgotPasswordVm.title"></c2s-unsecure-top-navbar>

    <div id="page-wrapper " class="padding-top-60 m-b-lg m-l-none m-r-none">
        <section>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <h1>{{"PASSWORD.FORGOT_CONTENTS_3" | translate}}</h1>
                    <div class="alert alert-info">
                        {{"PASSWORD.FORGOT_CONTENTS_4" | translate}} <b>{{"PASSWORD.FORGOT_CONTENTS_5" | translate}}</b>
                        {{"PASSWORD.FORGOT_CONTENTS_6" | translate}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <form name="forgotPasswordForm">
                        <fieldset class="">
                            <div class="form-group wrap">
                                <div>
                                    <label for="email">{{"PASSWORD.FORGOT_CONTENTS_5" | translate}}</label>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-5 col-md-4 col-lg-3 m-b-xs">
                                            <input id="email" name="email" class="form-control" type="text"
                                                   placeholder="{{'PASSWORD.FORGOT_CONTENTS_5' | translate}}"
                                                   ng-model="forgotPasswordVm.user.email" c2s-validate-email required/>
                                            <div class="text-alert" ng-messages="forgotPasswordForm.email.$error"
                                                 ng-if="forgotPasswordForm.email.$dirty">
                                                <div ng-messages-include="forgot-password-messages"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-10 text-alert m-t-n-xs m-b-xs"
                                     ng-if="forgotPasswordVm.emailPatternError">
                                    <span>{{"PASSWORD.FORGOT_CONTENTS_7" | translate}}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-10 text-alert m-t-n-xs m-b-xs"
                                     ng-if="forgotPasswordVm.emailNotFound">
                                    <span>{{"PASSWORD.FORGOT_CONTENTS_8" | translate}}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12 m-t-sm">
                                    <button type="button" class="btn btn-white m-r"
                                            ng-click="forgotPasswordVm.cancel()">{{"PASSWORD.FORGOT_CONTENTS_9" | translate}}
                                    </button>
                                    <a class="btn btn-primary dark-green" ng-click="forgotPasswordVm.forgotPassword()"
                                       ng-disabled="!forgotPasswordVm.canSubmit(forgotPasswordForm)">{{"PASSWORD.CREATE_CONTENTS_7" | translate}}
                                    </a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>