<div id="wrapper" class="container-fluid page-bg-white">
    <script type="text/ng-template" id="forgot-password-messages">
        <div ng-message="required">Please complete this required fields.</div>
        <div ng-message="email">The email address you have provided must be valid, please try again.</div>
    </script>

    <mhc-unsecure-top-navbar title="forgotPasswordVm.title"></mhc-unsecure-top-navbar>

    <div id="page-wrapper " class="padding-top-60 m-b-lg m-l-none m-r-none">
        <section>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <h1>Forgot your password?</h1>
                    <div class="alert alert-info">
                        Please enter the <b>Email</b> you use to sign in to your account. All information must match the
                        information used to create this account.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-1 col-sm-10">
                    <form name="forgotPasswordForm">
                        <fieldset class="">
                            <div class="form-group wrap">
                                <div>
                                    <label for="email">Email</label>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-5 col-md-4 col-lg-3 m-b-xs">
                                            <input id="email" name="email" class="form-control" type="text"
                                                   placeholder="Email"
                                                   ng-model="forgotPasswordVm.user.email" c2s-validate-email required/>
                                            <div class="text-alert" ng-messages="forgotPasswordForm.email.$error"
                                                 ng-if="forgotPasswordForm.email.$dirty">
                                                <div ng-messages-include="forgot-password-messages"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-10 text-alert m-t-n-xs m-b-xs" ng-if="forgotPasswordVm.emailPatternError">
                                    <span>Please provide a valid email address.</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-10 text-alert m-t-n-xs m-b-xs" ng-if="forgotPasswordVm.emailNotFound">
                                    <span>The email address you have provided cannot be found, please try again.</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12 m-t-sm">
                                    <button type="button" class="btn btn-white m-r"
                                            ng-click="forgotPasswordVm.cancel()">Cancel
                                    </button>
                                    <a class="btn btn-primary dark-green" ng-click="forgotPasswordVm.forgotPassword()"
                                       ng-disabled="!forgotPasswordVm.canSubmit(forgotPasswordForm)">Submit
                                    </a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>