<div class="container-fluid left-right-padding-0">
    <div class="page-bg-white" id="topPage">
        <div class="b9gray-bg">
            <div class="custom-header modified">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="m-t m-l-sm">
                            <img ng-src="{{loginVm.brandLargeLogo}}" class="c2sLoginLogo"
                                 alt="loginVm.altLogoText">
                            <span class="pull-right m-r-md m-t-xs">
                                <!--Select language-->
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="SELECT_LANGUAGE"></span><span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a ng-click="changeLanguage('en-US')" translate="BUTTON_LANG_EN"></a>
                                    </li>
                                    <li>
                                        <a ng-click="changeLanguage('es-AR')" translate="BUTTON_LANG_ES"></a>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="loginColumns animated fadeInDown custom-login-column modified">
                        <div class="row m-b-xl">
                            <div class="col-md-5 m-b-md">
                                <h1 class="font-bold text-navbar-blue">{{"SECURITY_LOGIN.CONTENTS_1" | translate}}
                                    <span ng-bind="loginVm.brandName"></span>.</h1>
                                <div class="m-t border-top-navbar-blue">
                                    <h2 class="m-t-xs font-bold m-t text-dark-blue">{{"SECURITY_LOGIN.CONTENTS_2" | translate}}</h2>
                                    <p> {{"SECURITY_LOGIN.CONTENTS_3" | translate}} <span ng-bind="loginVm.brandName"></span>,
                                        {{"SECURITY_LOGIN.CONTENTS_4" | translate}} <span ng-bind="loginVm.brandName"></span> {{"SECURITY_LOGIN.CONTENTS_5" | translate}}.</p>
                                </div>
                            </div>
                            <div class="col-md-7 skin-1">
                                <div class="ibox-content img-circle">
                                    <div class="m-t-sm">
                                        <c2s-oauth-login brand="loginVm.brandName"></c2s-oauth-login>
                                    </div>
                                    <div class="text-center">
                                        <a ng-click="loginVm.forgotPassword()">
                                            <small>{{"SECURITY_LOGIN.CONTENTS_6" | translate}}</small>
                                        </a>
                                        <p> {{"SECURITY_LOGIN.CONTENTS_7" | translate}} {{::loginVm.version}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-container ">
            <div class="row " style="background-color: #fff">
                <div class="col-md-4 padding-bottom-15">
                    <div id="ppTop" class="text-left">
                        <h3><i class="fa fa-graduation-cap fa-2x"></i> {{"SECURITY_LOGIN.CONTENTS_8" | translate}} <span
                                ng-bind="loginVm.brandName"></span> {{"SECURITY_LOGIN.CONTENTS_5" | translate}}</h3>
                    </div>
                    <p>
                        <span ng-bind="loginVm.brandName"></span> {{"SECURITY_LOGIN.CONTENTS_9" | translate}}
                    </p>
                    <span>
                        <a href="#aboutHIEPortal" class="btn btn-xs btn-primary dark-green"
                           ng-click="loginVm.scrollTo('aboutHIEPortal')">{{"SECURITY_LOGIN.CONTENTS_10" | translate}}</a>
                    </span>
                </div>
                <div class="col-md-4 padding-bottom-15">
                    <div class="text-left">
                        <h3><i class="fa fa-medkit fa-2x"></i> {{"SECURITY_LOGIN.CONTENTS_11" | translate}} <span ng-bind="loginVm.brandName"></span>
                            {{"SECURITY_LOGIN.CONTENTS_12" | translate}}</h3>
                    </div>
                    <p>
                        {{"SECURITY_LOGIN.CONTENTS_13" | translate}} <span ng-bind="loginVm.brandName"></span>
                        {{"SECURITY_LOGIN.CONTENTS_14" | translate}}
                    </p>

                    <span>
                        <a href="#patientPortalHelpMe" class="btn btn-xs btn-primary dark-green"
                           ng-click="loginVm.scrollTo('patientPortalHelpMe')">{{"SECURITY_LOGIN.CONTENTS_67" | translate}}</a>
                    </span>

                </div>
                <div class="col-md-4 padding-bottom-15">
                    <div class="text-left">
                        <h3><i class="fa fa-eye-slash fa-2x"></i> {{"SECURITY_LOGIN.CONTENTS_59" | translate}}</h3>
                    </div>
                    <p>
                        {{"SECURITY_LOGIN.CONTENTS_60" | translate}} <span ng-bind="loginVm.brandName"></span> {{"SECURITY_LOGIN.CONTENTS_61" | translate}}
                    </p>
                    <span>
                        <a href="#informationPrivacySecure" class="btn btn-xs btn-primary dark-green"
                           ng-click="loginVm.scrollTo('informationPrivacySecure')">{{"SECURITY_LOGIN.CONTENTS_15" | translate}}</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="border-bottom" style="background-color: #fff"><br></div>

        <!--Content/More Information-->
        <div id="aboutHIEPortal">
            <div class="footer-container border-bottom">
                <div class="text-center ">
                    <i class="icon-border fa fa-graduation-cap fa-3x"></i>
                </div>
                <div class="row ">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h3> {{"SECURITY_LOGIN.CONTENTS_8" | translate}} <span ng-bind="loginVm.brandName"></span> {{"SECURITY_LOGIN.CONTENTS_5" | translate}}</h3>
                        <p>
                            <span ng-bind="loginVm.brandName"></span> {{"SECURITY_LOGIN.CONTENTS_9" | translate}}
                        </p>
                        <h4> {{"SECURITY_LOGIN.CONTENTS_16" | translate}}</h4>
                        <p>
                            {{"SECURITY_LOGIN.CONTENTS_17" | translate}}
                        </p>
                        <h4>{{"SECURITY_LOGIN.CONTENTS_18" | translate}}<span ng-bind="loginVm.brandName"></span>?</h4>
                        <p>
                            <span ng-bind="loginVm.brandName"></span> {{"SECURITY_LOGIN.CONTENTS_9" | translate}}
                        </p>
                        <h4>{{"SECURITY_LOGIN.CONTENTS_19" | translate}}<span ng-bind="loginVm.brandName"></span> account?</h4>
                        <p>
                            <span ng-bind="loginVm.brandName"></span> {{"SECURITY_LOGIN.CONTENTS_20" | translate}}
                        </p>
                        <h4>{{"SECURITY_LOGIN.CONTENTS_21" | translate}} <span ng-bind="loginVm.brandName"></span>?</h4>
                        <p>
                            {{"SECURITY_LOGIN.CONTENTS_22" | translate}} <span
                                ng-bind="loginVm.brandName"></span> {{"SECURITY_LOGIN.CONTENTS_23" | translate}}
                            <br><br><a href="#ppTop" class="btn btn-xs btn-primary dark-green"
                                       ng-click="loginVm.scrollTo('topPage')">{{"SECURITY_LOGIN.CONTENTS_24" | translate}}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="patientPortalHelpMe">
            <div class="footer-container border-bottom">
                <div class="text-center ">
                    <i class="icon-border fa fa-medkit fa-3x"></i>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h3> {{"SECURITY_LOGIN.CONTENTS_25" | translate}} <span ng-bind="loginVm.brandName"></span> {{"SECURITY_LOGIN.CONTENTS_26" | translate}}</h3>
                        <p>
                            {{"SECURITY_LOGIN.CONTENTS_13" | translate}} <span ng-bind="loginVm.brandName"></span> {{"SECURITY_LOGIN.CONTENTS_27" | translate}}
                        </p>
                        <h4>{{"SECURITY_LOGIN.CONTENTS_28" | translate}} <span ng-bind="loginVm.brandName"></span>?</h4>
                        <p>
                            {{"SECURITY_LOGIN.CONTENTS_29" | translate}} <span
                                ng-bind="loginVm.brandName"></span> {{"SECURITY_LOGIN.CONTENTS_30" | translate}} <span ng-bind="loginVm.brandName"></span> {{"SECURITY_LOGIN.CONTENTS_31" | translate}}
                        </p>
                        <h4>{{"SECURITY_LOGIN.CONTENTS_32" | translate}} <span ng-bind="loginVm.brandName"></span>?</h4>
                        <p>
                            {{"SECURITY_LOGIN.CONTENTS_33" | translate}}<span ng-bind="loginVm.brandName"></span>{{"SECURITY_LOGIN.CONTENTS_34" | translate}}
                        </p>
                        <ul style="list-style-type: disc">
                            <li><p>
                                <strong>{{"SECURITY_LOGIN.CONTENTS_35" | translate}}</strong>{{"SECURITY_LOGIN.CONTENTS_36" | translate}} <span
                                    ng-bind="loginVm.brandName"></span>{{"SECURITY_LOGIN.CONTENTS_37" | translate}}
                                <span ng-bind="loginVm.brandName"></span>{{"SECURITY_LOGIN.CONTENTS_38" | translate}}<span ng-bind="loginVm.brandName"></span>
                                {{"SECURITY_LOGIN.CONTENTS_39" | translate}}
                            </p></li>
                            <li><p>
                                <strong>{{"SECURITY_LOGIN.CONTENTS_40" | translate}}</strong>{{"SECURITY_LOGIN.CONTENTS_41" | translate}} <span
                                    ng-bind="loginVm.brandName"></span> {{"SECURITY_LOGIN.CONTENTS_42" | translate}}
                            </p></li>
                            <li><p>
                                <strong>{{"SECURITY_LOGIN.CONTENTS_43" | translate}}</strong>{{"SECURITY_LOGIN.CONTENTS_44" | translate}}<span
                                    ng-bind="loginVm.brandName"></span>{{"SECURITY_LOGIN.CONTENTS_45" | translate}}
                            </p></li>
                            <li><p>
                                <strong>{{"SECURITY_LOGIN.CONTENTS_46" | translate}}</strong>{{"SECURITY_LOGIN.CONTENTS_47" | translate}}<span ng-bind="loginVm.brandName"></span>
                                {{"SECURITY_LOGIN.CONTENTS_48" | translate}}
                            </p></li>
                            <li><p>
                                <strong>{{"SECURITY_LOGIN.CONTENTS_49" | translate}}</strong>{{"SECURITY_LOGIN.CONTENTS_47" | translate}}
                                <span ng-bind="loginVm.brandName"></span>{{"SECURITY_LOGIN.CONTENTS_50" | translate}}
                            </p></li>
                            <li><p>
                                <strong>{{"SECURITY_LOGIN.CONTENTS_51" | translate}}</strong>{{"SECURITY_LOGIN.CONTENTS_47" | translate}}<span
                                    ng-bind="loginVm.brandName"></span>{{"SECURITY_LOGIN.CONTENTS_52" | translate}}
                            </p></li>
                            <li><p>
                                <strong>{{"SECURITY_LOGIN.CONTENTS_53" | translate}}</strong>{{"SECURITY_LOGIN.CONTENTS_54" | translate}}<span
                                    ng-bind="loginVm.brandName"></span>{{"SECURITY_LOGIN.CONTENTS_55" | translate}}
                            </p></li>
                            <li><p>
                                <strong>{{"SECURITY_LOGIN.CONTENTS_56" | translate}}</strong>{{"SECURITY_LOGIN.CONTENTS_57" | translate}}<span
                                    ng-bind="loginVm.brandName"></span>{{"SECURITY_LOGIN.CONTENTS_58" | translate}}
                            </p></li>
                        </ul>
                        <a href="#ppTop" class="btn btn-xs btn-primary dark-green m-t-xs"
                           ng-click="loginVm.scrollTo('topPage')">{{"SECURITY_LOGIN.CONTENTS_24" | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="informationPrivacySecure">
            <div class="footer-container border-bottom">
                <div class="text-center ">
                    <i class="icon-border fa fa-eye-slash fa-3x"></i>
                </div>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <h3>{{"SECURITY_LOGIN.CONTENTS_59" | translate}}</h3>
                        <p>
                            {{"SECURITY_LOGIN.CONTENTS_60" | translate}}<span ng-bind="loginVm.brandName"></span>
                            {{"SECURITY_LOGIN.CONTENTS_61" | translate}}
                        </p>
                        <h4>{{"SECURITY_LOGIN.CONTENTS_62" | translate}}</h4>
                        <p>
                            {{"SECURITY_LOGIN.CONTENTS_63" | translate}}<span
                                ng-bind="loginVm.brandName"></span>{{"SECURITY_LOGIN.CONTENTS_64" | translate}}
                        </p>
                        <h4>{{"SECURITY_LOGIN.CONTENTS_65" | translate}}</h4>
                        <p>
                            {{"SECURITY_LOGIN.CONTENTS_66" | translate}}<br><br> <a href="#ppTop"
                                                                           class="btn btn-xs btn-primary dark-green"
                                                                           ng-click="loginVm.scrollTo('topPage')">
                            {{"SECURITY_LOGIN.CONTENTS_24" | translate}}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



