<div class="col-sm-6">
    <form role="form" name="medicalDocumentUploadForm" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="custom-no-margin-top"><i class="fa fa-upload"></i> Upload</h2>
            </div>
            <div class="panel-body">
                <div class="alert alert-info">
                    <b>Name</b> and <b>Medical Document</b> fields are required.
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" class="form-control" placeholder="Document Name"
                           ng-model="MedicalDocumentsUploadVm.name" required/>
                    <div ng-messages="medicalDocumentUploadForm.name.$error"
                         class="text-alert" role="alert">
                        <div class="m-t-xs" ng-message="required" ng-if="medicalDocumentUploadForm.name.$dirty" >Required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control"
                              ng-model="MedicalDocumentsUploadVm.description"
                              placeholder="Description" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="documentType">Medical Document Type: </label>
                    <select id="documentType" class="form-control m-b"
                            ng-options="type for type in ['-- Please Select --', 'Episode Summary Note']"
                            ng-model="MedicalDocumentsUploadVm.documentType"
                            ng-init="MedicalDocumentsUploadVm.documentType='Episode Summary Note'">
                    </select>
                </div>

                <div class="form-group">
                    <label for="file">Medical Document</label>
                    <input type="file" name="file" id="file" accept=".xml" file-validate
                           ng-model="MedicalDocumentsUploadVm.file" file-model="MedicalDocumentsUploadVm.medicalFile"  ng-pattern="MedicalDocumentsUploadVm.extension" required/>
                    <div ng-messages="medicalDocumentUploadForm.file.$error"
                         class="text-alert" role="alert">
                        <div class="m-t-xs" ng-message="pattern" >Only .xml files are permitted.</div>
                        <div class="m-t-xs" ng-if="medicalDocumentUploadForm.file.$error.sizeLimit" >The file you tried to upload is over the 10MB limit.</div>
                    </div>
                </div>

                <button class="btn btn-primary dark-green" type="button"
                        ng-click="MedicalDocumentsUploadVm.uploadDocument()"
                        ng-disabled="medicalDocumentUploadForm.$invalid">
                    <strong>Upload</strong>
                </button>
            </div>
        </div>
        <div class="m-t-n-xs" ng-show="medicalDocumentUploadForm.$invalid && medicalDocumentUploadForm.name.$dirty">
            <div class="text-alert italic m-b m-l">
                Please complete ALL required fields to upload document.
            </div>
        </div>
    </form>
</div>