<div class="col-sm-12 col-md-7">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="custom-no-margin-top"><i class="fa fa-files-o"></i> Uploaded Documents</h2>
            </div>
            <div class="panel-body">
                <div class="side-padding10">
                    <div class="row p-b-xs border-bottom-medium-gray-thin hidden-xs">
                        <div class="col-sm-4 bold">
                            Document Type
                        </div>
                        <div class="col-sm-4 bold">
                            Name
                        </div>
                        <div class="col-sm-4 bold">
                            Description
                        </div>
                    </div>
                    <div class="row row-striped p-t-xs p-b-sm"
                         ng-repeat="medicalDocument in uploadedDocumentVm.medicaldocumentslist">
                        <div class="col-sm-12">
                            <div class="row m-b-xs">
                                <div class="col-sm-4 font-size12 bold">
                                    Summary of Episode Note
                                </div>
                                <div class="col-sm-4 font-size12">
                                    <span ng-bind="medicalDocument.name"></span>
                                </div>
                                <div class="col-sm-4 font-size12 italic">
                                    <span ng-bind="medicalDocument.description"></span>
                                </div>
                            </div>
                            <div class="border-bottom p-t-xxs p-b-xxs side-padding15"></div>
                            <div class="row p-t-xs">
                                <div class="col-sm-12">

                                    <button type="button" class="btn btn-success dark-green btn-xs m-r-xs"
                                            ng-click="uploadedDocumentVm.uploadDocumentToHIEOS(medicalDocument)">
                                        <span class="fa fa-upload m-r-xs"></span>Publish
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs m-r-sm"
                                            ng-click="uploadedDocumentVm.downloadFile(medicalDocument)">
                                        <span class="fa fa-download m-r-xs"></span>Download
                                    </button>
                                    <a href="" type="button" class="hover-extraBold"
                                       ng-click="uploadedDocumentVm.openDeleteMedicalDocumentModal(medicalDocument, 'sm')">
                                        <span class="fa fa-times m-r-xxs text-dark-red"></span> Remove
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-striped p-t-xs p-b-xs"
                         ng-if="uploadedDocumentVm.medicaldocumentslist.length == 0">
                        <strong> No document was has been uploaded.</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
