<div class="col-sm-12 col-md-7">
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="custom-no-margin-top"><i class="fa fa-files-o"></i> Uploaded Documents</h2>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Document Type</th>
                        <th>Description</th>
                        <th>Operation</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-if="uploadedDocumentVm.medicaldocumentslist.length === 0">
                        <td colspan="5" class="text-center"> No
                            Medical Documents has been added.
                        </td>
                    </tr>
                    <tr ng-repeat="medicalDocument in uploadedDocumentVm.medicaldocumentslist">
                        <td>
                            <span ng-bind="medicalDocument.name"></span>
                        </td>
                        <td>
                            <span>Episode Summary Note</span>
                        </td>
                        <td>
                            <span ng-bind="medicalDocument.description"></span>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success dark-green btn-xs btn-block"
                                    ng-click="uploadedDocumentVm.downloadFile(medicalDocument)">
                                <span class="fa fa-download hidden-xs m-r-xs"></span>Download
                            </button>
                            <button type="button" class="btn btn-success dark-green btn-xs btn-block"
                                    ng-click="uploadedDocumentVm.uploadDocumentToHIEOS(medicalDocument)">
                                <span class="fa fa-upload hidden-xs m-r-xs"></span>Upload
                            </button>
                            <button type="button" class="btn btn-danger btn-xs btn-block"
                                    ng-click="uploadedDocumentVm.openDeleteMedicalDocumentModal(medicalDocument, 'sm')">
                                <span class="fa fa-times hidden-xs m-r-xs"></span> Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- new stuff -->
                <div class="side-padding10">

                    <div class="row border-bottom-medium-gray-thin p-b-xs">
                        <div class="col-sm-5 col-xs-12 m-b-xxs">
                            <div class="bold">Name</div>
                        </div>
                        <div class="col-sm-7 col-xs-12 m-b-xxs">
                            <div class="bold">Document Type</div>
                        </div>

                        <div class="col-sm-5 col-xs-12 m-b-xxs">
                            <div class="bold italic">Description</div>
                        </div>
                        <div class="col-sm-7 col-xs-12 m-b-xxs">
                            <div class="bold">Operation</div>
                        </div>
                    </div>

                    <div class="row row-striped p-t-xs p-b-xs">
                        <div class="col-sm-5 col-xs-12 m-b-xs">
                            <div class="">Test</div>
                        </div>
                        <div class="col-sm-7 col-xs-12 m-b-xs">
                            <div class="">Episode Summary Note</div>
                        </div>

                        <div class="col-sm-5 col-xs-12 m-b-xs">
                            <div class="italic">Test Document</div>
                        </div>
                        <div class="col-sm-7 col-xs-12 m-b-xs">
                            <button type="button" class="btn btn-success dark-green btn-xs m-r-xs"
                                    ng-click="uploadedDocumentVm.downloadFile(medicalDocument)">
                                <!--<span class="fa fa-upload hidden-xs m-r-xs"></span> Publish-->Publish
                            </button>
                            <button type="button" class="btn btn-default btn-outline btn-xs m-r-xs"
                                    ng-click="uploadedDocumentVm.downloadFile(medicalDocument)">
                                <!--<span class="fa fa-download hidden-xs m-r-xs"></span>Download-->Download
                            </button>
                            <a href="" type="button" class=""
                               ng-click="uploadedDocumentVm.openDeleteMedicalDocumentModal(medicalDocument, 'sm')">
                                <span class="fa fa-times m-r-xxs text-dark-red"></span> Remove
                            </a>
                        </div>
                    </div>

                </div>
                <!-- END New Stuff -->

            </div>
        </div>
    </div>
</div>
