<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-10 ">
        <h2>Health Information</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Health Information</strong>
            </li>
        </ol>
    </div>
</div>

<div  class="row border-bottom row-padding-10" id="sticktoolbar" >
    <div class="col-xs-7 col-sm-6">
        <div class="pull-left">
            <button class="btn btn-sm btn-primary dark-green" type="button" ng-click="HealthInformationVm.expandAllAccordions()">Expand All</button>
            <button class="btn btn-sm btn-primary dark-green" type="button" ng-click="HealthInformationVm.collapseAllAccordions()">Collapse All</button>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <pp-ccda-document document="HealthInformationVm.document" ></pp-ccda-document>
</div>