<nav class="navbar-default navbar-static-side fix-sidebar" role="navigation" >
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <img alt="Patient profile photo" class="img-circle" src="assets/img/profile_small.jpg"/>
                    <a class="dropdown-toggle" dropdown-toggle href="">
                                    <span class="clear">
                                        <span class="block m-t-xs">
                                            <strong class="font-bold"><span ng-bind="AppVm.authentication.userName"></span></strong>
                                        </span>
                                        <span class="text-muted text-xs block light-blue">Male DOB <b class="caret"></b></span>
                                     </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="AppVm.logOut()">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    HIE
                </div>
            </li>

            <li ui-sref-active="active" >
                <a ui-sref="fe.index.home"><i class="fa fa-home"></i> <span class="nav-label">Home</span></a>
            </li>

            <li ng-class="{active: $state.includes('fe.consent')}" >
                <a ui-sref="fe.consent.list"><i class="fa fa-file-text"></i> <span class="nav-label">Consents</span></a>
            </li>

            <li ng-class="{active: $state.includes('fe.provider')}" >
                <a ui-sref="fe.provider.list"><i class="fa fa-user-md"></i> <span class="nav-label">Providers</span></a>
            </li>

            <li ng-class="{active: $state.includes('fe.medicaldocuments')}" >
                <a ui-sref="fe.medicaldocuments.info"><i class="fa fa-folder-open"></i> <span class="nav-label">Medical Documents</span></a>
            </li>

             <li ng-class="{active: $state.includes('fe.patient')}" ng-if="AppVm.healthInformationMenu" ng-click="AppVm.routeToHealthInformation()"  >
                <a ui-sref="fe.patient.healthinformation"><i class="fa fa-user-md"></i> <span class="nav-label">Health Information</span></a>
            </li>
        </ul>
    </div>
</nav>