<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <form class="" name="createPasswordForm" method="post">
            <fieldset class="">
                <legend class="sr-only">Create password</legend>

                <div class="form-group">
                    <label class="control-label" for="user_name">Username</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <!--<input id="user_name" name="username" type="text" aria-required="true"
                                   class="form-control bold" placeholder="sallysharemhc@gmail.com"
                                   readonly/>-->
                            <div id="user_name" class="form-control bold"
                                 ng-bind="createPasswordVm.username" readonly></div>
                        </div>
                    </div>
                </div>

                <div class="form-group wrap">
                    <label for="password">Password</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <input id="password" type="password" class="form-control" placeholder="Password" ng-minlength="2" ng-maxlength="30"
                                   ng-model="createPasswordVm.patient.password" name="password" required>
                        </div>
                    </div>
                </div>
                <div class="form-group wrap m-b">
                    <label for="reenterPassword">Re-enter Password</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <input id="reenterPassword" type="password" class="form-control" placeholder="Confirm password" ng-minlength="2" ng-maxlength="30"
                                   ng-model="createPasswordVm.patient.confirmPassword" name="confirmPassword" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 text-alert m-t-n-xs m-b-xs" ng-if="createPasswordVm.activateError">
                        <span>Whoops! Change message later.</span>
                    </div>
                </div>

                <div class="form-group m-t-md">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default m-r-sm"
                                ng-click="createPasswordVm.clearField(createPasswordForm)">Clear
                        </button>
                        <button type="button" class="btn btn-primary dark-green"
                                ng-click="createPasswordVm.activate()">
                            Submit
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>