<div class="row">
    <script type="text/ng-template" id="activation-messages">
        <div ng-message="required">Please complete this required field.</div>
        <div ng-message="compareTo">Your password and confirm password must match, please try again.</div>
        <div ng-message="isValidPassword">The password entered is not valid, see the Password Instructions and try
            again.
        </div>
    </script>

    <div class="col-sm-offset-1 col-sm-10">
        <form class="" name="createPasswordForm" method="post">
            <fieldset class="">
                <legend class="sr-only">Create password</legend>

                <div class="form-group">
                    <label class="control-label" for="user_name">Username</label>
                    <div class="row">
                        <div class="col-sm-6 col-md-5 col-lg-4">
                            <input id="user_name"
                                   name="username"
                                   type="text"
                                   aria-required="true"
                                   class="form-control bold" placeholder="username"
                                   ng-model="createPasswordVm.username" readonly/>
                        </div>
                    </div>
                </div>

                <div class="form-group wrap">
                    <label class="relative" for="password">Password</label>
                    <div class="row">
                        <div class="col-sm-6 col-md-5 col-lg-4">
                            <input id="password" type="password" class="form-control relative" name="password"
                                   placeholder="Password" ng-model="createPasswordVm.patient.password"
                                   c2s-validate-password required>
                                <span class="text-strong-blue absolute hidden-xs" style="top: 4px; right: 0px;">
                                    <c2s-popover popover-placement="right"
                                                 popover-title="createPasswordVm.popoverData.title"
                                                 popover-content="createPasswordVm.popoverData">
                                    </c2s-popover>
                                </span>

                                <span class="text-strong-blue absolute visible-xs" style="top: 4px; right: 24px;">
                                    <c2s-popover popover-placement="left"
                                                 popover-title="createPasswordVm.popoverData.title"
                                                 popover-content="createPasswordVm.popoverData">
                                    </c2s-popover>
                                </span>
                            <div class="text-alert m-t-xs" ng-if="createPasswordForm.password.$dirty"
                                 ng-messages="createPasswordForm.password.$error">
                                <div ng-messages-include="activation-messages"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group wrap m-b">
                    <label for="reenterPassword">Re-enter Password</label>
                    <div class="row">
                        <div class="col-sm-6 col-md-5 col-lg-4">
                            <input id="reenterPassword"
                                   type="password"
                                   class="form-control"
                                   name="confirmPassword"
                                   placeholder="Confirm password"
                                   ng-model="createPasswordVm.patient.confirmPassword"
                                   c2s-compare-to="createPasswordVm.patient.password" required>
                            <div class="text-alert m-t-xs"
                                 ng-if="createPasswordForm.confirmPassword.$dirty"
                                 ng-messages="createPasswordForm.confirmPassword.$error">
                                <div ng-messages-include="activation-messages"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 text-alert m-t-n-xs m-b-xs" ng-if="createPasswordVm.activateError">
                        <span>Whoops! Something went wrong. Please try again later.</span>
                    </div>
                </div>

                <div class="form-group m-t-md">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-default m-r-sm"
                                ng-click="createPasswordVm.clearField(createPasswordForm)">Clear
                        </button>
                        <button type="button" class="btn btn-primary dark-green"
                                ng-click="createPasswordVm.activate()"
                                ng-disabled="!createPasswordVm.canActivate(createPasswordForm)">
                            Submit
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>