<nav class="navbar navbar-fixed-top height-60 gray-bg border-bottom" role="navigation">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <div class="m-t-md m-l inline">
                        <p><span ng-bind="(topNavbarVm.title | translate)"></span></p>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="m-t-md m-r inline">
                        <p></p>
                    </div>
                    <div class="m-t-xs m-r inline">
                        <img class="hidden-xs" ng-src="{{topNavbarVm.brandMediumLogo}}" alt="c2s logo">
                        <img class="visible-xs-inline" ng-src="{{topNavbarVm.brandSmallLogo}}" alt="c2s logo">
                    </div>
                    &nbsp;
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span translate="SELECT_LANGUAGE"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a ng-click="topNavbarVm.changeLanguage('en-US')" translate="BUTTON_LANG_EN"></a>
                        </li>
                        <li>
                            <a ng-click="topNavbarVm.changeLanguage('es-AR')" translate="BUTTON_LANG_ES"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>