<div class="row">
    <script type="text/ng-template" id="verification-messages">
        <div ng-message="required">Please complete this required field.</div>
        <div ng-message="isAfterToday">Date of birth cannot be today's date, or a future date.</div>
    </script>

    <div class="col-sm-offset-1 col-sm-10">
        <form class="" name="verificationForm">
            <fieldset class="">
                <legend class="sr-only">Account Setup Verification</legend>
                <div class="form-group wrap">
                    <label for="birthdate">Date of Birth</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <mhc-multi-select-date id="birthdate" name="birthdate"
                                                   ng-model="verificationVm.verifyInfo.birthdate"
                                                   year-order="desc" start-year="" end-year=""
                                                   mhc-check-after-today required></mhc-multi-select-date>
                            <ul class="text-alert" ng-messages-multiple ng-if="verificationForm.$dirty"
                                ng-messages="verificationForm.birthdate.$error">
                                <li ng-message="dayRequired">Day is required</li>
                                <li ng-message="monthRequired">Month is required</li>
                                <li ng-message="yearRequired">Year is required</li>
                                <li ng-messages-include="verification-messages"></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group wrap">
                    <div>
                        <label for="verificationCode">Verification Code</label>
                        <span style="color: #808080; font-weight: 300;">(Verification Code is case sensitive)</span>

                        <div class="row">
                            <div class="col-xs-8 col-sm-5 col-md-4 col-lg-3 m-b-xs">
                                <input id="verificationCode" name="verificationCode" class="form-control" type="text"
                                       placeholder="Verification Code "
                                       ng-model="verificationVm.verifyInfo.verificationCode" required/>
                                <div class="text-alert" ng-messages="verificationForm.verificationCode.$error"
                                     ng-if="verificationForm.verificationCode.$dirty">
                                    <div ng-messages-include="verification-messages"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10 text-alert m-t-n-xs m-b-xs" ng-if="verificationVm.verifyError">
                        <span>Sorry, the Date of Birth and/or Verification Code entered does not match, please try again.</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 m-t-sm">
                        <button type="reset" class="btn btn-default m-r-sm"
                                ng-click="verificationVm.clearField(verificationForm)">Clear
                        </button>
                        <a class="btn btn-primary dark-green" ng-click="verificationVm.verify()"
                           ng-disabled="!verificationVm.canVerify(verificationForm)">Continue
                        </a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>