<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <form class="" name="verificationForm">
            <fieldset class="">
                <legend class="sr-only">Account Setup Verification</legend>
                <div class="form-group wrap">
                    <label class="control-label">Date of Birth
                        <input name="dateOfBirth" mhc-datedropdowns/>
                    </label>
                </div>

                <div class="form-group wrap">
                    <div>
                        <label for="verificationCode">Verification Code</label>
                        <span style="color: #808080; font-weight: 300;">(Verification Code is case sensitive)</span>

                        <div class="row">
                            <div class="col-xs-8 col-sm-5 col-md-4 col-lg-3 m-b-xs">
                                <input id="verificationCode" name="verificationCode" type="text"
                                       ng-model="verificationVm.verificationFormMaster.verificationCode"
                                       class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 m-t-sm">
                        <button type="button" class="btn btn-default m-r-sm"
                                ng-click="verificationVm.clearField(verificationForm)">Clear
                        </button>
                        <a class="btn btn-primary dark-green" ui-sref="fe.createPassword">
                            Continue
                        </a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>