<div>
    <div class="form-group">
        <label for="email">Username:</label>
        <input type="text" class="form-control" id="email" ng-model="oauthLoginVm.user.email" name="email">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" class="form-control" id="password" ng-model="oauthLoginVm.user.password" name="password">
    </div>

    <div class="form-group">
        <button type="button" class="close" ng-click="oauthLoginVm.login()" >Login</button>
    </div>

</div>