<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10 ">
            <h2>Health Information</h2>
            <ol class="breadcrumb">
                <li class="active">
                    <strong>Health Information</strong>
                </li>
            </ol>
        </div>
</div>

<div  class="row border-bottom row-padding-10" id="sticktoolbar" >
        <div class="col-xs-5 col-sm-6" >
            <input icheck type="checkbox" ng-model="HealthInformationVm.toggleMenu" ng-checked="HealthInformationVm.toggleSectionWithoutData()"> Hide sections with no data.
        </div>

        <div class="col-xs-7 col-sm-6">
            <div class="pull-right">
                <button class="btn btn-sm btn-primary dark-green" type="button" ng-click="HealthInformationVm.expandAllAccordions()">Expand All</button>
                <button class="btn btn-sm btn-primary dark-green" type="button" ng-click="HealthInformationVm.collapseAllAccordions()">Collapse All</button>
            </div>
        </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

       <div class="row" ng-show="HealthInformationVm.toggleMenu" id="noPatientDataAlertSection" >
            <div class="col-sm-12" >
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    You are currently viewing only the sections that contain NEW health information.
                </div>
            </div>
        </div>
<!-- NEW HEALTH INFO -->
    <div class="row">
        <div class="col-sm-12" id="demographics">
            <div class="ibox panel panel-darkblue float-e-margins">
                <div class="ibox-title  modified panel-heading">
                    <h2>Inpatient Summary</h2>
                    <div ibox-tools   total=""></div>
                </div>
                <div class="ibox-content modified">
                    <div class="row">
                        <div class="col-sm-6">
                            <p>
                                <label for="patientName">Provider:</label> <span id="patientName">Dr. Henry Seven</span>
                            </p>
                            <p>
                                <label for="patientSSN">Treatment: </label> <span id="patientSSN">Pneumonia</span>
                            </p>
                            <p>
                                <label for="patientSex">Sex: </label> <span
                                    ng-bind="patientdemographics.AdministrativeGender.displayName" id="patientSex"></span>
                            </p>
                            <p>
                                <label for="patientDOB">Birthdate: </label> <span ng-bind="patientdemographics.BirthDate" id="patientDOB"></span>
                            </p>
                            <p>
                                <label for="patientAddress">Address: </label> <span ng-bind="patientdemographics.Contacts[0].Address.StreetName1" id="patientAddress"></span> <span ng-bind="patientdemographics.Contacts[0].Address.City"></span>
                            </p>
                            <p>
                                <label for="patientContactInfo">Contact Info: </label> <span ng-bind="patientdemographics.ContactInfo" id="patientContactInfo"></span>
                            </p>
                            <p>
                                <label for="patientMaritalStatus">Marital Status: </label> <span ng-bind="patientdemographics.MaritalStatus.DisplayName" id="patientMaritalStatus"></span>
                            </p>
                            <p>
                                <label for="patientReligion">Religion: </label> <span ng-bind="patientdemographics.Religion.DisplayName" id="patientReligion"></span>
                            </p>
                            <p>
                                <label for="patientLanguage">Language: </label> <span ng-bind="ccdheader.Language.DisplayName" id="patientLanguage"></span>
                            </p>
                            <p>
                                <label for="patientGuardian">Guardian: </label> <span ng-bind="ccdheader.Custodian.Name" id="patientGuardian"></span>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <label for="author">Author of Record: </label>  <span ng-bind="ccdheader.Author.Name.GivenName" id="author"></span> <span ng-bind="ccdheader.Author.Name.FamilyName"></span>
                            </p>
                            <p>
                                <label for="timerecord">Time Record Development: </label> <span ng-bind="ccdheader.DateRecordDeveloped" id="timerecord"></span>
                            </p>
                            <p>
                                <label for="patientAssignment">Assignment: </label> <span ng-bind="ccdheader.Assignment" id="patientAssignment"></span>
                            </p>
                            <p>
                                <label for="patientInformationReceipt">Information Recipient: </label> <span ng-bind="ccdheader.InformationRecipient.Name.GivenName" id="patientInformationReceipt"></span>  <span ng-bind="ccdheader.InformationRecipient.Name.FamilyName"></span>:
                            </p>
                            <p>
                                <label for="patientLegalAuthentication">Legal Authentication: </label> <span ng-bind="ccdheader.LegalAuthenticator.Name.GivenName" id="patientLegalAuthentication"></span> <span ng-bind="ccdheader.LegalAuthenticator.Name.FamilyName"></span>
                            </p>
                            <p>
                                <label for="patrientRepOrganization">Representative Organization: </label> <span ng-bind="ccdheader.DocumentationOf.Performer.RepresentedOrganization.Name" id="patrientRepOrganization"></span>
                            </p>
                            <p>
                                <label for="patientPerformer">Performer: </label> <span ng-bind="ccdheader.DocumentationOf" id="patientPerformer"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- END NEW HEALTH INFO -->
        <!-- PATIENT DEMOGRAPHICS-->
        <demographics-accordion patientdemographics="HealthInformationVm.patientDemographics" ccdheader="ccdheader" ></demographics-accordion>

        <!--MEDICATIONS-->
        <medications-accordion medications="HealthInformationVm.medications" ng-hide="HealthInformationVm.toggleMenu && !AppVm.toggleMedications"  ></medications-accordion>

        <!--ALERTS-->
        <alerts-accordion alerts="HealthInformationVm.allergies" ng-hide="HealthInformationVm.toggleMenu && !AppVm.toggleAlert"  ></alerts-accordion>

        <!--RESULTS-->
        <results-accordion results="HealthInformationVm.results" ng-hide="HealthInformationVm.toggleMenu && !AppVm.toggleResults"  ></results-accordion>

        <!--EENCOUNTERS-->
        <encounters-accordion encounters="HealthInformationVm.encounters" ng-hide="HealthInformationVm.toggleMenu && !AppVm.toggleEncounters" ></encounters-accordion>

        <!--PROBLEM LIST-->
        <problems-accordion problems="HealthInformationVm.problems" ng-hide="HealthInformationVm.toggleMenu && !AppVm.toggleProblems"  ></problems-accordion>

        <!--VITAL SIGNALS-->
        <vitalsigns-accordion vitalsigns="HealthInformationVm.vitalsigns" ng-hide="HealthInformationVm.toggleMenu && !AppVm.toggleVitalSigns" ></vitalsigns-accordion>

        <!--PROCEDURES-->
        <procedures-accordion procedures="HealthInformationVm.procedures" ng-hide="HealthInformationVm.toggleMenu && !AppVm.toggleProcedure" ></procedures-accordion>

</div>