<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10 ">
            <h1>Health Information</h1>
            <ol class="breadcrumb">
                <li class="active">
                    <strong>Health Information</strong>
                </li>
            </ol>
        </div>
</div>

<div  class="row border-bottom row-padding-10" id="sticktoolbar" >
        <div class="col-xs-5 col-sm-6" >
            <input icheck type="checkbox" ng-model="HealthInformationVm.toggleMenu" ng-checked="HealthInformationVm.toggleSectionWithoutData()"> Hide sections with no data.
        </div>

        <div class="col-xs-7 col-sm-6">
            <div class="pull-right">
                <button class="btn btn-sm btn-primary dark-green" type="button" ng-click="HealthInformationVm.expandAllAccordions()">Expand All</button>
                <button class="btn btn-sm btn-primary dark-green" type="button" ng-click="HealthInformationVm.collapseAllAccordions()">Collapse All</button>
            </div>
        </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

        <div class="row" ng-show="HealthInformationVm.toggleMenu" id="noPatientDataAlertSection" >
            <div class="col-sm-12" >
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    You are currently viewing only the sections that contain NEW health information.
                </div>
            </div>
        </div>
<!-- NEW HEALTH INFO -->

        <div class="row">
            <div class="col-sm-12 relative" id="demographics">
                <div class="ibox panel panel-darkblue float-e-margins">
                    <div class="ibox-title  modified panel-heading right-padding30">
                        <div class="row">
                            <div class="col-sm-12 m-t-xs">
                                <h3>Inpatient Summary<span class="m-b-none m-l-sm">Created on August 6, 2015 at Local Hospital</span></h3>
                            </div>

                        <div class="chevron_absolute">
                            <div ibox-tools class="white"  total=""></div>
                        </div>
                        </div>
                    </div>
                    <div class="ibox-content modified">
                        <div class="row m-b">
                            <div class="col-sm-6">
                                <div>
                                    <label for="patientName">Provider:</label> <span id="patientName">Dr. Henry Seven</span>
                                </div>
                                <div>
                                    <label for="patientSSN">Treatment: </label> <span id="patientSSN">Pneumonia</span>
                                </div>
                                <div>
                                    <label for="startDate">Treatment Start Date: </label> <span id="startDate">2015-10-15</span>
                                </div>
                                <div>
                                    <label for="endDate">Treatment Start Date: </label> <span id="endDate">2015-10-20</span>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox panel panel-default float-e-margins">
                                    <div class="ibox-title modified panel-heading">
                                        <h5>Hospital Discharge Instructions
                                            <small class="m-l-sm">Additional Information</small>
                                        </h5>
                                        <div ibox-tools></div>
                                    </div>
                                    <div class="ibox-content">
                                        <p>
                                            <strong>Lorem ipsum dolor</strong>
                                            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque
                                            eu, pretium quis, sem. Nulla consequat massa quis enim.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- END NEW HEALTH INFO -->

</div>