<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-1">
        <select id="month" class="form-control" ng-model="dateDropdownsVm.dateFields.month" ng-options="m.value as m.name for m in months">
            <option value="">Month</option>
        </select>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-1">
        <select id="day" class="form-control" ng-model="dateDropdownsVm.dateFields.day" ng-options="d for d in days">
            <option value="">Day</option>
        </select>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-1">
        <select id="year"  class="form-control" ng-model="dateDropdownsVm.dateFields.year" ng-options="y for y in years">
            <option value="">Year</option>
        </select>
    </div>
</div>