<!DOCTYPE html>
<div class="row">
    <div class="col-sm-12 relative" id="demographics">
        <div class="ibox panel panel-darkblue float-e-margins">
            <div class="ibox-title  modified panel-heading right-padding30">
                <div class="row">
                    <div class="col-sm-12 m-t-xs">
                        <h3>
                            <span ng-bind="ccdaDocumentVm.cdaDocument.type"></span>
                            <span class="m-b-none m-l-sm">
                                {{"HEALTH_INFORMATION_DOC.CCDA_DOC_1" | translate}}<span ng-bind="ccdaDocumentVm.cdaDocument.date"></span> {{"HEALTH_INFORMATION_DOC.CCDA_DOC_2" | translate}}
                                <span ng-bind="ccdaDocumentVm.cdaDocument.title"></span>
                            </span>
                        </h3>
                    </div>
                    <div class="chevron_absolute">
                        <div c2s-ibox-tools class="white" total=""></div>
                    </div>
                </div>
            </div>
            <div class="ibox-content modified">
                <div class="row m-b">
                    <div class="col-sm-6">
                        <div>
                            <label for="patientName">{{"HEALTH_INFORMATION_DOC.CCDA_DOC_3" | translate}}</label>
                            <span ng-bind="ccdaDocumentVm.patient.name" id="patientName"></span>
                        </div>
                        <div>
                            <label for="patientGender">{{"HEALTH_INFORMATION_DOC.CCDA_DOC_4" | translate}}</label>
                            <span ng-bind="ccdaDocumentVm.patient.gender" id="patientGender"></span>
                        </div>
                        <div>
                            <label for="patientDOB">{{"HEALTH_INFORMATION_DOC.CCDA_DOC_5" | translate}}</label>
                            <span ng-bind="ccdaDocumentVm.patient.dob" id="patientDOB"></span>
                        </div>
                        <div>
                            <label for="patientAddress">{{"HEALTH_INFORMATION_DOC.CCDA_DOC_6" | translate}}</label>
                            <span ng-bind="ccdaDocumentVm.address.addressLine" id="patientAddress"></span>
                            <span ng-bind="ccdaDocumentVm.address.city"></span>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label for="author">{{"HEALTH_INFORMATION_DOC.CCDA_DOC_7" | translate}}</label>
                            <span ng-repeat="author in ccdaDocumentVm.authors">
                                <span ng-bind="author.providerName" id="author"></span>
                                <span ng-if="!$last">,</span>
                            </span>
                        </div>
                        <div>
                            <label for="service">{{"HEALTH_INFORMATION_DOC.CCDA_DOC_8" | translate}}</label>
                            <span ng-bind="ccdaDocumentVm.treatment.service" id="service"></span>
                        </div>
                        <div>
                            <label for="serviceStartDate">{{"HEALTH_INFORMATION_DOC.CCDA_DOC_9" | translate}}</label>
                            <span ng-bind="ccdaDocumentVm.treatment.serviceStartDate" id="serviceStartDate"></span>
                        </div>
                        <div>
                            <label for="serviceEndDate">{{"HEALTH_INFORMATION_DOC.CCDA_DOC_10" | translate}}</label>
                            <span ng-bind="ccdaDocumentVm.treatment.serviceEndDate" id="serviceEndDate"></span>
                        </div>
                    </div>
                </div>

                <div ng-if="ccdaDocumentVm.sections.length === 0">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{"HEALTH_INFORMATION_DOC.CCDA_DOC_11" | translate}}</strong>
                    </div>
                </div>
                <div ng-repeat="section in ccdaDocumentVm.sections">
                    <c2s-ccda-document-section section="section"></c2s-ccda-document-section>
                </div>
            </div>
        </div>
    </div>
</div>
</div>