<!DOCTYPE html>
<div class="row">
    <div class="col-sm-12 relative" id="demographics">
        <div class="ibox panel panel-darkblue float-e-margins">
            <div class="ibox-title  modified panel-heading right-padding30">
                <div class="row">
                    <div class="col-sm-12 m-t-xs">
                        <h3>
                            <span ng-bind="ccdaDocumentVm.cdaDocument.type"></span>
                            <span class="m-b-none m-l-sm">
                                Created on <span ng-bind="ccdaDocumentVm.cdaDocument.date"></span> at
                                <span ng-bind="ccdaDocumentVm.cdaDocument.title"></span>
                            </span>
                        </h3>
                    </div>
                    <div class="chevron_absolute">
                        <div c2s-ibox-tools class="white" total=""></div>
                    </div>
                </div>
            </div>
            <div class="ibox-content modified">
                <div class="row m-b">
                    <div class="col-sm-6">
                        <div>
                            <label for="patientName">Patient Name:</label>
                            <span ng-bind="ccdaDocumentVm.patient.name" id="patientName"></span>
                        </div>
                        <div>
                            <label for="patientGender">Gender: </label>
                            <span ng-bind="ccdaDocumentVm.patient.gender" id="patientGender"></span>
                        </div>
                        <div>
                            <label for="patientDOB">Birthdate: </label>
                            <span ng-bind="ccdaDocumentVm.patient.dob" id="patientDOB"></span>
                        </div>
                        <div>
                            <label for="patientAddress">Address: </label>
                            <span ng-bind="ccdaDocumentVm.address.addressLine" id="patientAddress"></span>
                            <span ng-bind="ccdaDocumentVm.address.city"></span>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div>
                            <label for="author">Provider: </label>
                            <span ng-repeat="author in ccdaDocumentVm.authors">
                                <span ng-bind="author.providerName" id="author"></span>
                                <span ng-if="!$last">,</span>
                            </span>
                        </div>
                        <div>
                            <label for="service">Treatment: </label>
                            <span ng-bind="ccdaDocumentVm.treatment.service" id="service"></span>
                        </div>
                        <div>
                            <label for="serviceStartDate">Treatement Start Date: </label>
                            <span ng-bind="ccdaDocumentVm.treatment.serviceStartDate" id="serviceStartDate"></span>
                        </div>
                        <div>
                            <label for="serviceEndDate">Treatment End Date: </label>
                            <span ng-bind="ccdaDocumentVm.treatment.serviceEndDate" id="serviceEndDate"></span>
                        </div>
                    </div>
                </div>

                <div ng-if="ccdaDocumentVm.sections.length === 0">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong> Document does not contain sections.</strong>
                    </div>
                </div>
                <div ng-repeat="section in ccdaDocumentVm.sections">
                    <c2s-ccda-document-section section="section"></c2s-ccda-document-section>
                </div>
            </div>
        </div>
    </div>
</div>
</div>