<div>
    <div class="row">
        <div class="col-sm-12" id="demographics">
            <div class="ibox panel panel-darkblue float-e-margins">
                <div class="ibox-title  modified panel-heading">
                    <h2>Search by: Provider location</h2>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content modified" ng-model="boxContent">
                    <form role="form" name="providerSearchForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-info">
                                    <span class="btn btn-success btn-circle">1</span>&nbsp;<b>Step 1.</b> Please enter
                                    the
                                    provider <b>State and City</b> OR <b>Zip Code</b>.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <h3 class="m-t-none m-b">Enter State and City.</h3>

                                <div class="form-group">
                                    <label for="state" class="control-label">State</label>
                                    <select id="state" class="form-control m-b" name="providerState"
                                            ng-model="plsQueryParameters.usstate"
                                            ng-disabled="providerSearchForm.providerZipCode.$viewValue"
                                            ng-required="!plsQueryParameters.zipcode">
                                        <option value="">-- Please Select --</option>
                                        <option value="DC">DISTRICT OF COLUMBIA</option>
                                        <option value="MD">MARYLAND</option>
                                        <option value="VA">VIRGINIA</option>
                                    </select>

                                    <!--<div ng-messages="providerSearchForm.providerState.$error"
                                         class="text-alert" role="alert">
                                        <div ng-message="required">Required</div>
                                    </div>-->
                                </div>
                                <div class="form-group" ng-if="plsQueryParameters.usstate">
                                    <label class="control-label">City (Required)</label>
                                    <Input class="form-control m-b" type="text" placeholder="Enter City"
                                           name="providerCity"
                                           ng-model="plsQueryParameters.city"
                                           ng-minlength="formMinlength" ng-maxlength="formMaxlength"
                                           ng-required="plsQueryParameters.usstate"/>

                                    <div ng-messages="providerSearchForm.providerCity.$error"
                                         class="text-alert" role="alert">
                                        <div ng-message="minlength">Minimum 2 characters</div>
                                        <div ng-message="maxlength">Maximum 10 characters</div>
                                        <div ng-message="required">Required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1 m-b">
                                <p>OR</p>
                            </div>
                            <div class="col-sm-5">
                                <h3 class="m-t-none m-b">Enter Zip Code</h3>

                                <div class="row">
                                    <div class="col-sm-5 form-group">
                                        <label class="control-label">Zip Code</label>
                                        <Input class="form-control m-b" type="text" name="providerZipCode"
                                               placeholder="Enter Zip Code"
                                               ng-model="plsQueryParameters.zipcode"
                                               ng-disabled="providerSearchForm.providerState.$viewValue"
                                               ng-pattern="/^\d{5}(?:[-\s]\d{4})?$/"
                                               ng-required="!plsQueryParameters.usstate"/>

                                        <div ng-messages="providerSearchForm.providerZipCode.$error"
                                             class="text-alert" role="alert">
                                            <div ng-message="pattern">Please provide a valid zip code (12345 or
                                                12345-6789)
                                            </div>
                                            <!--<div ng-message="required">Required</div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-info">
                                    <span class="btn btn-success btn-circle">2</span>&nbsp;<b>Step 2.</b> Please enter
                                    the
                                    <b>Facility Name</b> OR <b>Provider Name and
                                    Other Criteria</b>.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <h3 class="m-t-none m-b">Enter Provider Name and Other Criteria</h3>

                                <div class="form-group">
                                    <label class="control-label">Provider Last Name</label>
                                    <Input class="form-control m-b" type="text" name="providerLastName"
                                           placeholder="Last Name"
                                           ng-model="plsQueryParameters.lastname"
                                           ng-disabled="providerSearchForm.providerFacilityName.$viewValue"
                                           ng-required="!plsQueryParameters.facilityname"
                                           ng-minlength="formMinlength" ng-maxlength="formMaxlength"/>

                                    <div ng-messages="providerSearchForm.providerLastName.$error"
                                         class="text-alert" role="alert">
                                        <div ng-message="minlength">Minimum 2 characters</div>
                                        <div ng-message="maxlength">Maximum 10 characters</div>
                                        <!--<div ng-message="required">Required</div>-->
                                    </div>
                                </div>
                                <div class="form-group" ng-if="plsQueryParameters.lastname">
                                    <label class="control-label">First Name (Optional)</label>
                                    <Input class="form-control m-b" type="text" name="providerFirstName"
                                           placeholder="First Name"
                                           ng-model="plsQueryParameters.firstname"
                                           ng-minlength="formMinlength" ng-maxlength="formMaxlength"/>

                                    <div ng-messages="providerSearchForm.providerFirstName.$error"
                                         class="text-alert" role="alert">
                                        <div ng-message="minlength">Minimum 2 characters</div>
                                        <div ng-message="maxlength">Maximum 10 characters</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6" ng-if="plsQueryParameters.lastname">
                                        <label for="gender" class="control-label">Gender (Optional)</label>
                                        <select id="gender" class="form-control m-b" name="providerGender"
                                                ng-model="plsQueryParameters.gender">
                                            <option value="">Please Select</option>
                                            <option value="M">Male</option>
                                            <option value="F">Female</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6" ng-if="plsQueryParameters.lastname">
                                        <label class="control-label">Telephone (Optional)</label>
                                        <Input class="form-control m-b" type="tel" placeholder="Telephone"
                                               name="providerPhone" ng-model="plsQueryParameters.phone"
                                               ng-pattern="/\d{3}-\d{3}-\d{4}/"
                                               data-mask="999-999-9999"/>

                                        <div ng-messages="providerSearchForm.providerPhone.$error"
                                             class="text-alert" role="alert">
                                            <div ng-message="pattern">Phone pattern must be 123-456-7890</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1 m-b">
                                <p>OR</p>
                            </div>
                            <div class="col-sm-5">

                                <h3 class="m-t-none m-b">Facility Name</h3>

                                <div class="form-group">
                                    <label class="control-label">Facility Name</label>
                                    <Input class="form-control m-b" type="text" placeholder="Facility Name"
                                           ng-model="plsQueryParameters.facilityname" ng-minlength="formMinlength"
                                           ng-maxlength="formMaxlength" ng-required="!plsQueryParameters.lastname"
                                           name="providerFacilityName"
                                           ng-disabled="providerSearchForm.providerLastName.$viewValue"/>

                                    <div ng-messages="providerSearchForm.providerFacilityName.$error"
                                         class="text-alert" role="alert">
                                        <div ng-message="minlength">Minimum 2 characters</div>
                                        <div ng-message="maxlength">Maximum 10 characters</div>
                                        <!--<div ng-message="required">Required</div>-->
                                    </div>
                                </div>
                                <div class="form-group" ng-if="plsQueryParameters.facilityname">
                                    <label class="control-label">Telephone (Optional)</label>
                                    <Input class="form-control m-b" type="tel" placeholder="Telephone"
                                           name="providerPhoneForFacility" ng-model="plsQueryParameters.phone"
                                           ng-pattern="/\d{3}-\d{3}-\d{4}/"
                                           data-mask="999-999-9999"/>

                                    <div ng-messages="providerSearchForm.providerPhoneForFacility.$error"
                                         class="text-alert" role="alert">
                                        <div ng-message="pattern">Phone pattern must be 123-456-7890</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="btn btn-sm m-r" type="reset" ng-click="reset()">Clear
                                    All
                                </button>
                                <button class="btn btn-sm btn-primary dark-green" type="button"
                                        ng-click="lookupProvider(firstPage)"
                                        ng-disabled="providerSearchForm.$invalid">
                                    <strong>Search</strong>
                                </button>
                                <p class="inline"
                                   ng-show="providerSearchForm.$invalid && providerSearchForm.$dirty">Please complete
                                    both steps to enable search...</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--<div>
        <pre>
            {{providerSearchForm | json}}
        </pre>
    </div>-->

    <provider-lookup-result ng-if="providerLookupResult"
                            provider-lookup-result="providerLookupResult"
                            query-parameters="plsQueryParameters"></provider-lookup-result>
</div>