<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Privacy Settings</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Medical Information Categories</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            <strong><span>DO NOT</span></strong>&nbsp;share
                            the following areas of potentially sensitive
                            information.
                        </div>
                        <button class="btn btn-primary btn-xs m-r-xs dark-green" ng-click="selectAllMedicalSections()">Select All</button> <button class="btn btn-primary btn-xs dark-green" ng-click="deselectAllMedicalSections()">Deselect All</button>
                        <div ng-repeat="medicalSection in mediactionSections">
                            <div>
                                <div class="radio">
                                    <label>
                                        <input type="checkbox" icheck  checklist-model="consent.selectedMedicalSections" checklist-value="medicalSection.code" >
                                        <span class="m-l-xs" ng-bind="medicalSection.displayName"></span>
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Sensitive Information Categories</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            Select the medical information that you <strong>DO
                            NOT</strong> wish to share.
                        </div>
                        <button class="btn btn-primary btn-xs m-r-xs dark-green" ng-click="selectAllSensitivityPolicies()">Select All</button> <button class="btn btn-primary btn-xs dark-green" ng-click="deselectAllSensitivityPolicies()">Deselect All</button>
                        <div ng-repeat="sensitivityPolicy in sensitivityPolicies">
                            <div>
                                <div class="radio">
                                    <label>
                                        <input type="checkbox" icheck  checklist-model="consent.selectedSensitivityPolicies" checklist-value="sensitivityPolicy.code" >
                                        <span class="m-l-xs" ng-bind="sensitivityPolicy.displayName"></span>
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white m-r-xs" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary dark-green" ng-click="ok()">Save changes</button>
    </div>
</div>