<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Share for selected purpose only</h4>
    </div>
    <div class="modal-body">
        <div>Share my information only for specified purposes of use.</div>
        <button class="btn btn-primary btn-xs">Select All</button> <button class="btn btn-primary btn-xs">Deselect All</button>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Save changes</button>
    </div>
</div>