<content-wrapper title="Revoke Consent">
    <div>
        <p>Authorized to share: <strong><span ng-bind="ConsentRevokeVm.params.consent.toDiscloseName"/></strong> |
            Sharing with: <strong><span
                    ng-bind="ConsentRevokeVm.params.consent.isMadeToName"/></strong> | Effective Date: <strong><span
                    ng-bind="ConsentRevokeVm.params.consent.consentStart | date"/></strong></p>

        <div class="alert alert-info">Withdrawal of Consent to Participate in Health Information Exchange</div>

        <p>I have previously signed a patient consent form allowing my providers to access my electronic health records
            through the Consent 2 Share system and now want to withdraw that consent. If I sign this form as the
            Patient's Legal Representative, I understand that all references in this form to "me" or "my" refer to the
            Patient.</p>

        <p>By withdrawing my Consent, I understand that:</p>
        <ol>
            <li>I Deny Consent for all Participants to access my electronic health information through Consent 2 Share
                for any purpose, <em>EXCEPT in a medical emergency.</em>
            </li>
            <li>Health care provider and health insurers that I am enrolled with will no longer be able to access health
                information about me through Consent 2 Share, except in an emergency.
            </li>
            <li>The Withdrawal of Consent will not affect the exchange of my health information while my Consent was in
                effect.
            </li>
            <li>No Consent 2 Share participating provider will deny me medical care and my insurance eligibility will
                not be affected based on my Withdrawal of Consent.
            </li>
            <li>If I wish to reinstate Consent, I may do so by signing and completing a new Patient Consent form and
                returning it to a participating provider or payer.
            </li>
            <li>Withdrawing my consent does not prevent my health care provider from submitting claims to my health
                insurer for reimbursement for services rendered to me.
            </li>
            <li>I understand that I will get a copy of this form after I sign it.</li>
        </ol>
    </div>
    <div>
        <button type="button" class="btn btn-white" ng-click="ConsentRevokeVm.cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="ConsentRevokeVm.sign()">Sign</button>
    </div>
</content-wrapper>