
<form action="">
    <h1> I, Bob, hereby authorize... </h1>
    <div class="hr-line-dashed"></div>
    <div class="row">
            <div class="col-sm-6">
                <select-provider ng-model="CreateConsentVm.consent.authorize" modaltitle="CreateConsentVm.authorize">
                </select-provider>
            </div>
            <div class="col-sm-6">
                <select-provider ng-model="CreateConsentVm.consent.disclosure" modaltitle="CreateConsentVm.disclosure" >
                </select-provider>
            </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-12">
            <medical-information ng-model="CreateConsentVm.consent.medicalInformation"></medical-information>
        </div>

    </div>
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-12">
            <purpose-of-use ng-model="CreateConsentVm.consent.purposeOfUse"></purpose-of-use>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-12">
            <consent-term ng-model="CreateConsentVm.consent.consentTerm"></consent-term>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-sm-4 ">
            <button class="btn btn-white" type="reset">Cancel</button>
            <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
    </div>
</form>
