<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title"> <span ng-bind="title"></span></h4>
    </div>
    <div class="modal-body">
                <p ng-if="title === 'Authorize'">Please select <strong>one</strong> individual or organization authorized to share your information:</p>
                <p ng-if="title === 'Disclosure'">Please select <strong>one</strong> individual or organization for disclosure:</p>
                <div class="row">
                    <div class="col-sm-6 m-b-xs">
                        <h3>Individuals:</h3>
                        <div ng-repeat="provider in providers">
                                <div ng-if="isIndividualProvider(provider)">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" icheck ng-model="selectedProvider.npi" ng-value="provider.npi" name="npi" ng-disabled="isSelected(provider.npi)" >
                                                <span class="m-l-xs" ng-bind="provider|pcmProviderNameOrFacility"> </span>
                                        </label>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 m-b-md">
                        <h3>Organization:</h3>
                        <div ng-repeat="provider in providers">
                            <div ng-if="isOrganizationProvider(provider)">
                                <div class="radio">
                                    <label>
                                        <input type="radio" icheck ng-model="selectedProvider.npi" ng-value="provider.npi" name="npi" ng-disabled="isSelected(provider.npi)" >
                                        <span class="m-l-xs" ng-bind="provider|pcmProviderNameOrFacility"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Add Selected</button>
    </div>
</div>