<form action="">
    <h1> I, Dob, hereby authorize... </h1>
    <div class="hr-line-dashed"></div>
    <div class="row">
            <div class="col-sm-4">
                <select-provider ng-model="CreateConsentVm.consent.authorize" modaltitle="CreateConsentVm.authorize">
                </select-provider>
            </div>
        <div class="col-sm-4">
            <select-provider ng-model="CreateConsentVm.consent.disclosure" modaltitle="CreateConsentVm.disclosure" >
            </select-provider>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-4"><input type="text" class="form-control"></div>

    </div>
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-4"><input type="text" class="form-control"></div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="row">
        <div class="col-sm-4"><input type="text" class="form-control"></div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="row">
        <div class="col-sm-4 ">
            <button class="btn btn-white" type="reset">Cancel</button>
            <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
    </div>
</form>
