<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Share for selected purpose only</h4>
    </div>
    <div class="modal-body">
        <div></div>
        <div class="alert alert-warning"> Share my information <strong>only</strong> for specified purposes of use. </div>
        <button class="btn btn-primary btn-xs" ng-click="selectAll()">Select All</button> <button class="btn btn-primary btn-xs" ng-click="deselectAll()">Deselect All</button>
        <div class="row">
            <div class="col-sm-6">
                <div ng-repeat="purposeOfUse in data">
                    <div >
                        <div class="radio">
                            <label>
                                <input type="checkbox" icheck  checklist-model="consent.selectedPurposeOfUseCodes" checklist-value="purposeOfUse.code"  >
                                <span class="m-l-xs" ng-bind="purposeOfUse.displayName"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white m-r-xs" ng-click="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Save changes</button>
    </div>
</div>