<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Authorized to share: <strong><span ng-bind="consent.toDiscloseName"/></strong> | Sharing with: <strong><span
                ng-bind="consent.isMadeToName"/></strong> | Effective Date: <strong><span
                ng-bind="consent.consentStart | date"/></strong>
        </h5>

        <div ibox-tools></div>
    </div>
    <div class="ibox-content">
        <div class="well">
            <h3>
                Consent State: <strong><span ng-bind="ConsentCardVm.consentState(consent) | uppercase"/></strong>
            </h3>
        </div>
        <div class="well">
            <div ng-if="ConsentCardVm.isShareAll(consent)">
                <h3>Sharing all medical information:</h3>
                All my medical information can be shared.
            </div>
            <div ng-if="!ConsentCardVm.isShareAll(consent)">
                <h3>Medical Information NOT disclosed:</h3>
                <span ng-bind="ConsentCardVm.notDisclosedItems(consent)"/>
            </div>
        </div>
        <div class="well">
            <h3>Share for following purposes:</h3>
            <span ng-bind="ConsentCardVm.purposeOfUseItems(consent)"/>
        </div>
        <div class="well">
            <button class="btn btn-primary" ng-click="ConsentCardVm.openManageConsentModal(consent)">Manage Consent
            </button>
        </div>
    </div>
</div>