<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Discard Changes</h4>
    </div>
    <div class="modal-body">
        <div>
            <h3 class="text-center">Are you sure that you want to discard changes for this consent?</h3>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white m-r-xs" ng-click="CancelCreateEditConsentModalVm.cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="CancelCreateEditConsentModalVm.discard()">Discard Changes</button>
    </div>
</div>