<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="m-t-none"><strong>Revoke of Consent to Participate in Health Information Exchange</strong></h2>
                <div class="">
                    <p class="m-b-xxs">Consent Reference Number:</p>
                    <p><strong ng-bind="consentRevokeVm.revokeAttestation.consentReferenceId"></strong></p>
                </div>
            </div>
            <div class="col-sm-6">
                <span> Patient Name:</span>
                <strong ng-bind="consentRevokeVm.revokeAttestation.patient | fullName"></strong>
            </div>
            <div class="col-sm-6">
                <span> Patient DOB:</span>
                <strong ng-bind="consentRevokeVm.revokeAttestation.patientDateOfBirth"></strong>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-sm-12">
                <span class="pre-wrap" ng-bind="consentRevokeVm.revokeAttestation.consentRevokeTermsText"></span>
            </div>
        </div>

        <br/>
        <div>
            <input type="checkbox" pp-icheck ng-model="consentRevokeVm.revokeAttestation.acceptTerms" ng-change="consentRevokeVm.onchecked()">
            <span>I, <strong ng-bind="consentRevokeVm.revokeAttestation.patient | fullName"></strong>, hereby accept, and understand the terms of this consent.</span>
        </div>
    </div>
    <div class="row m-b-md">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-white m-r" ng-click="consentRevokeVm.cancel()">Cancel</button>
                <button class="btn btn-primary dark-green" type="submit" ng-disabled="!consentRevokeVm.isAuthenticated" ng-click="consentRevokeVm.sign()">Complete</button>
            </div>
        </div>
    </div>
</div>