<div class="inmodal">
    <form name="consentOptionsForm">
        <div class="modal-header">
            <button type="button" class="close" ng-click="manageConsentModalVm.cancel()" aria-hidden="true">X</button>
            <h4 class="modal-title" ng-if="manageConsentModalVm.option === 'manageConcent'" >Consent Options</h4>
            <h4 class="modal-title" ng-if="manageConsentModalVm.option === 'tryMyPolicy'" >Apply My Record</h4>
        </div>
        <div class="modal-body">
            <div ng-if="manageConsentModalVm.option === 'manageConcent'">
                <h3>I want to:</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-click="manageConsentModalVm.edit()"><h4><i class="fa fa-edit fa-lg m-r-sm"></i>Edit This Consent</h4></a>
                    <a href="#" class="list-group-item" ng-click="manageConsentModalVm.preview()" ><h4><i class="fa fa-search fa-lg m-r-sm"></i>Preview This Consent</h4></a>
                    <a href="#" class="list-group-item" ng-click="manageConsentModalVm.signConsent()"><h4><i class="fa fa-mail-forward fa-lg m-r-sm"></i>Submit My Consent for Signing</h4></a>
                    <a href="#" class="list-group-item" ng-click="manageConsentModalVm.setOption('tryMyPolicy')"><h4><i class="fa fa-gear fa-lg m-r-sm"></i>Try My Consent Settings against My Medical Record before Sharing</h4></a>
                    <a href="#" class="list-group-item" ng-click="manageConsentModalVm.setOption('delete')"><h4><i class="fa fa-trash-o fa-lg m-r-sm"></i>Delete This Consent</h4></a>
                </div>
            </div>

            <div ng-if="manageConsentModalVm.option === 'tryMyPolicy'">
                <div class="form-horizontal">
                    <div class="form-group m-b-xs"><label class="col-sm-3 control-label">Document</label>
                        <div class="col-sm-9"><select class="form-control m-b" name="account">
                            <option>Document 1</option>
                            <option>Document 2</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group"><label class="col-sm-3 control-label">Purpose of Use</label>
                        <div class="col-sm-9">
                            <select class="form-control m-b" name="account" ng-model="manageConsentModalVm.purposeOfUse" >
                                <option ng-repeat="purposeOfUse in manageConsentModalVm.shareForPurposeOfUseCodes" value="{{purposeOfUse}}">{{purposeOfUse}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="manageConsentModalVm.option === 'delete'">
                <h3 class="text-center">Are you sure you want to delete this consent?</h3>
            </div>
        </div>
        <div class="modal-footer" >
            <div ng-if="manageConsentModalVm.option === 'delete'">
                <button type="button" class="btn btn-white m-r-xs" ng-click="manageConsentModalVm.setOption('manageConcent')">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="manageConsentModalVm.deleteConsent()">Delete</button>

            </div>

            <div ng-if="manageConsentModalVm.option === 'tryMyPolicy'">
                <button type="button" class="btn btn-white m-r-xs" ng-click="manageConsentModalVm.setOption('manageConcent')">Back to Consent Options</button>
                <button type="button" class="btn btn-primary" ng-click="manageConsentModalVm.applyTryMyPolicy()">Apply</button>
            </div>
        </div>
    </form>
</div>
