<div class="inmodal" ng-form name="medicalInfofmationModalObj">
    <div class="modal-header">
        <h4 class="modal-title">Privacy Settings</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Medical Information Categories</h5>
                        <div pp-ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            <strong><span>DO NOT</span></strong>&nbsp;share
                            the following areas of potentially sensitive
                            information.
                        </div>
                        <button class="btn btn-primary btn-xs m-r-xs dark-green" ng-click="medicalInfoModalVm.selectAllMedicalSections(medicalInfofmationModalObj)">Select All</button>
                        <button class="btn btn-primary btn-xs dark-green" ng-click="medicalInfoModalVm.deselectAllMedicalSections(medicalInfofmationModalObj)">Deselect All</button>
                        <div ng-repeat="medicalSection in medicalInfoModalVm.mediactionSections">
                            <div>
                                <div class="radio">
                                    <label>
                                        <input type="checkbox" pp-icheck  checklist-model="medicalInfoModalVm.consent.selectedMedicalSections" checklist-value="medicalSection.code" >
                                        <span class="m-l-xs" ng-bind="medicalSection.displayName"></span>
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Sensitive Information Categories</h5>
                        <div pp-ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            Select the medical information that you <strong>DO
                            NOT</strong> wish to share.
                        </div>
                        <button class="btn btn-primary btn-xs m-r-xs dark-green" ng-click="medicalInfoModalVm.selectAllSensitivityPolicies(medicalInfofmationModalObj)">Select All</button>
                        <button class="btn btn-primary btn-xs dark-green" ng-click="medicalInfoModalVm.deselectAllSensitivityPolicies(medicalInfofmationModalObj)">Deselect All</button>
                        <div>
                            <!--<strong>Federal</strong>-->
                            <!--<div class="border-bottom">-->
                            <!--<span class="fa-stack">-->
                                <!--<i class="fa fa-circle fa-stack-2x text-gray"></i>-->
                                <!--<i class="fa fa-university fa-stack-1x fa-inverse"></i>-->
                            <!--</span>-->
                                <!--<em>Federal Regulations</em>-->
                            <!--</div>-->
                            <div class="border-bottom p-xxs m-t-sm m-b-xs text-dark-blue">
                                <span class="fa fa-university m-r-xxs"></span>
                                <em>Federal Categories</em>
                            </div>
                            <div ng-repeat="sensitivityPolicy in medicalInfoModalVm.sensitivityPolicies | filter: { federal: 'true' } | orderBy:'displayOrder'">
                                <div>
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" pp-icheck  checklist-model="medicalInfoModalVm.consent.selectedSensitivityPolicies" checklist-value="sensitivityPolicy.code" >
                                            <span class="m-l-xs" ng-bind="sensitivityPolicy.displayName"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <!--<strong>State</strong>-->
                            <!--<div class="border-bottom">-->
                            <!--<span class="fa-stack">-->
                                <!--<i class="fa fa-circle fa-stack-2x text-dark-blue"></i>-->
                                <!--<i class="fa fa-flag fa-stack-1x fa-inverse"></i>-->
                            <!--</span>-->
                                <!--<em>State Regulations</em>-->
                            <!--</div>-->
                            <div class="border-bottom p-xxs m-t-sm m-b-xs text-dark-blue">
                                <span class="fa fa-flag m-r-xxs"></span>
                                <em>State Categories</em>
                            </div>
                            <div ng-repeat="sensitivityPolicy in medicalInfoModalVm.sensitivityPolicies | filter: { federal: 'false' } | orderBy:'displayOrder'">
                                <div>
                                    <div class="radio">
                                        <label>
                                            <input type="checkbox" pp-icheck  checklist-model="medicalInfoModalVm.consent.selectedSensitivityPolicies" checklist-value="sensitivityPolicy.code" >
                                            <span class="m-l-xs" ng-bind="sensitivityPolicy.displayName"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white m-r-xs" ng-click="medicalInfoModalVm.cancel()">Cancel</button>
        <button type="button" class="btn btn-primary dark-green" ng-click="medicalInfoModalVm.ok()" ng-disabled="medicalInfofmationModalObj.$pristine">Save changes</button>
    </div>
</div>
