<div class="inmodal">
    <form name="consentOptionsForm">
        <div class="modal-header">
            <c2s-consent-modal-header option="manageConsentModalVm.option"
                                      cancel="manageConsentModalVm.cancel()"></c2s-consent-modal-header>
        </div>
        <div class="modal-body">
            <div ng-if="manageConsentModalVm.option === 'manageConcent'">
                <h3>{{"CONSENT_MANAGEMENT.OPTIONS" | translate}}</h3>
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-click="manageConsentModalVm.edit()">
                        <h4><i class="fa fa-edit fa-lg m-r-sm"></i>{{"CONSENT_MANAGEMENT.OPTIONS_5" | translate}}</h4>
                    </a>
                    <a href="#" class="list-group-item" ng-click="manageConsentModalVm.downloadUnattestedConsent('unsigned')">
                        <h4><i class="fa fa-search fa-lg m-r-sm"></i>{{"CONSENT_MANAGEMENT.OPTIONS_6" | translate}}</h4>
                    </a>
                    <a href="#" class="list-group-item" ng-click="manageConsentModalVm.viewAttestation()">
                        <h4><i class="fa fa-mail-forward fa-lg m-r-sm"></i>{{"CONSENT_MANAGEMENT.OPTIONS_7" | translate}}</h4>
                    </a>
                    <a href="#" class="list-group-item" ng-click="manageConsentModalVm.setOption('tryMyPolicy')">
                        <h4><i class="fa fa-gear fa-lg m-r-sm"></i>{{"CONSENT_MANAGEMENT.OPTIONS_3" | translate}}</h4>
                    </a>
                    <a href="#" class="list-group-item" ng-click="manageConsentModalVm.setOption('delete')">
                        <h4><i class="fa fa-trash-o fa-lg m-r-sm"></i>{{"CONSENT_MANAGEMENT.OPTIONS_8" | translate}}</h4>
                    </a>
                </div>
            </div>

            <c2s-consent-try-policy-dropdown
                    documentid="manageConsentModalVm.selMedicalDocumentId"
                    option="manageConsentModalVm.option"
                    shareforpurposeofuse="manageConsentModalVm.shareForPurposeOfUse"
                    purposeofusecode="manageConsentModalVm.purposeOfUseCode"
                    medicaldocuments="manageConsentModalVm.medicalDocuments">
            </c2s-consent-try-policy-dropdown>

            <div ng-if="manageConsentModalVm.option === 'delete'">
                <h3 class="text-center">{{"CONSENT_MANAGEMENT.OPTIONS_8_CONTENT" | translate}}</h3>
            </div>
        </div>
        <div class="modal-footer">
            <c2s-consent-modal-footer
                    option="manageConsentModalVm.option"
                    setoption="manageConsentModalVm.setOption(option)"
                    applytrymypolicy="manageConsentModalVm.applyTryMyPolicy()"
                    deleteconsent="manageConsentModalVm.deleteConsent()">
            </c2s-consent-modal-footer>
        </div>
    </form>
</div>