<div class="row">
    <div class="col-lg-12 relative">
        <div class="ibox panel panel-navbar-blueGray float-e-margins">
            <div class="ibox-title modified panel-heading right-padding30" ng-click="consentCardVm.toggleCollapse()">
                <div class="chevron_absolute">
                    <div c2s-ibox-tools c2s-collapsed="consentCardVm.collapsed"
                         c2s-chevron-prevent-default="true"></div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-push-8 col-xs-12">
                        <p class="">{{"CONSENT_PROPERTY.PROPERTIES_1" | translate}}<strong><span
                                ng-bind="(consentCardVm.consent.consentStart | date) + ' - ' + (consentCardVm.consent.consentEnd | date)"></span></strong>
                        </p>
                    </div>
                    <div class="col-sm-8 col-sm-pull-4 col-xs-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="m-b-xxs">{{"CONSENT_PROPERTY.PROPERTIES_2" | translate}}
                                </p>
                                <p><strong><span ng-repeat="discloseName in consentCardVm.consent.toDiscloseName"
                                                 ng-bind="discloseName"></span></strong>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="m-b-xxs">{{"CONSENT_PROPERTY.PROPERTIES_3" | translate}}</p>
                                <p><strong><span ng-repeat="madeToName in consentCardVm.consent.isMadeToName"
                                                 ng-bind="madeToName"></span></strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content modified">
                <div class="row">
                    <div class="col-md-6 m-b">
                        <div ng-if="consentCardVm.isShareAll()">
                            <div class="font-size16 bold m-b-sm border-bottom-blue"><span class="m-r-xs"><i
                                    class="fa fa-eye"></i></span>{{"CONSENT_SHARING.OPTIONS_1" | translate}}
                            </div>
                            {{"CONSENT_SHARING.OPTIONS_1_CONTENT" | translate}}
                        </div>
                        <div ng-if="!consentCardVm.isShareAll()">
                            <div class="font-size16 bold m-b-sm border-bottom-red"><span class="m-r-xs"><i
                                    class="fa fa-eye-slash"></i></span>{{"CONSENT_SHARING.OPTIONS_2" | translate}}
                            </div>

                            <p><span ng-bind="consentCardVm.notDisclosedItems()"></span></p>
                        </div>
                    </div>
                    <div class="col-md-6 m-b">
                        <div class="font-size16 bold m-b-sm border-bottom-blue"><span class="m-r-xs"><i
                                class="fa fa-eye"></i></span>{{"CONSENT_SHARING.OPTIONS_3" | translate}}
                        </div>
                        <p><span ng-bind="consentCardVm.purposeOfUseItems()"></span></p>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="left-padding25"
                             ng-class="{'statusIcon_saved': consentCardVm.consentState('In Progress'),'statusIcon_signed': consentCardVm.consentState('Signed'),'statusIcon_revoked': consentCardVm.consentState('Revoked')}">
                            <span> {{"CONSENT_STATE" | translate}} <span class="bold"
                                                        ng-bind="(consentCardVm.consentState('') | uppercase) | translate"></span></span>
                            <span class="pull-right">
                                <button class="btn btn-primary btn-xs dark-green" type="button"
                                        ng-click="consentCardVm.openManageConsentModal()">{{"CONSENT_MANAGEMENT.OPTIONS_12" | translate}}
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>