<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>{{"CONSENT_MANAGEMENT.CONSENT_PURPOSE_1" | translate}}</h2>
        </div>
        <div class="panel-body">
            <p>{{"CONSENT_MANAGEMENT.CONSENT_PURPOSE_2" | translate}}</p>
            <p>
                <span class="m-r-sm"><strong>{{"CONSENT_MANAGEMENT.CONSENT_MEDICAL_INFO_6" | translate}}</strong>{{"CONSENT_MANAGEMENT.CONSENT_PURPOSE_3" | translate}}</span>
                <button type="button" class="btn btn-primary btn-xs dark-green"
                        ng-click="consentPurposeOfUseVm.openSelectPurposeModal()">{{"CONSENT_MANAGEMENT.CONSENT_PURPOSE_4" | translate}}
                </button>
            </p>
            <div>
                <div class="label label-primary m-l-xs inline dark-green"
                     ng-repeat="purposeOfUse in consentPurposeOfUseVm.selectedPurposeOfUse">
                    <span class="fa fa-check m-r-xs"></span>
                    <span ng-bind="purposeOfUse.displayName"></span>
                </div>
            </div>
        </div>
    </div>
</div>