<div class="row">
    <div class="col-sm-12">
        <div class="row m-b-md">
            <div class="col-sm-12">
                <h2 class="m-t-none"><strong>{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_1" | translate}}</strong></h2>
                <div class="">
                    <p class="m-b-xxs">{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_2" | translate}}</p>
                    <p><strong ng-bind="consentESignatureVm.attestation.consentReferenceNumber"></strong></p>
                </div>
            </div>
            <div class="col-sm-6">
                <span>{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_3" | translate}}</span>
                <strong ng-bind="consentESignatureVm.attestation | fullName"></strong>
            </div>
            <div class="col-sm-6">
                <span>{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_4" | translate}}</span>
                <strong ng-bind="consentESignatureVm.attestation.patientDateOfBirth"></strong>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info navbar-blue p-xs"><strong>{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_5" | translate}}</strong></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p class="font-size16 text-navy-blue bold">{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_6" | translate}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <p class="m-b-xs">{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_7" | translate}}</p>
                <p><strong ng-bind="consentESignatureVm.authorizeProvider | fullName"></strong></p>
            </div>
            <div class="col-sm-3">
                <p class="m-b-xs">{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_8" | translate}}</p>
                <p><strong ng-bind="consentESignatureVm.authorizeProvider.npi"></strong></p>
            </div>
            <div class="col-sm-3">
                <p class="m-b-xs">{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_9" | translate}}</p>
                <p><strong ng-bind="consentESignatureVm.authorizeProvider | address"></strong></p>
            </div>
            <div class="col-sm-3">
                <p class="m-b-xs">{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_10" | translate}}</p>
                <p><strong
                        ng-bind="consentESignatureVm.authorizeProvider.practiceLocationAddressTelephoneNumber | phone"></strong>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p class="font-size16 text-navy-blue bold">{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_11" | translate}}</p>
            </div>
        </div>

        <div class="row m-b">
            <div class="col-sm-3">
                <p class="m-b-xs">{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_7" | translate}}</p>
                <p><strong ng-bind="consentESignatureVm.disclosureProvider | fullName"></strong></p>
            </div>
            <div class="col-sm-3">
                <p class="m-b-xs">{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_8" | translate}}</p>
                <p><strong ng-bind="consentESignatureVm.disclosureProvider.npi"></strong></p>
            </div>
            <div class="col-sm-3">
                <p class="m-b-xs">{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_9" | translate}}</p>
                <p><strong ng-bind="consentESignatureVm.disclosureProvider | address"></strong></p>
            </div>
            <div class="col-sm-3">
                <p class="m-b-xs">{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_10" | translate}}</p>
                <p><strong
                        ng-bind="consentESignatureVm.disclosureProvider.practiceLocationAddressTelephoneNumber | phone"></strong>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info navbar-blue p-xs"><strong>{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_12" | translate}}</strong></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="text-navy-blue bold font-size16 m-t-xs m-b-xs">{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_13" | translate}}
                </div>
                <strong>{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_25" | translate}}</strong> <span
                    ng-if="!consentESignatureVm.hasSensitiveCategoriesToDisplay()">{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_14" | translate}}</span>
                <ul>
                    <li ng-repeat="category in consentESignatureVm.attestation.doNotShareSensitivityPolicyDisplayNames">
                        <span ng-bind="category"></span></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="text-navy-blue bold font-size16 m-t-xs m-b-xs"><strong>{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_15" | translate}}</strong></div>
                <ul>
                    <li ng-repeat="purposeOfUse in consentESignatureVm.attestation.purposeOfUseCodes"><span
                            ng-bind="purposeOfUse.displayName"></span></li>
                </ul>
            </div>
        </div>

        <div class="row m-t">
            <div class="col-sm-12">
                <div class="alert alert-info navbar-blue p-xs"><strong>{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_16" | translate}}</strong></div>
                <p ng-bind-html="consentESignatureVm.termsWithUserName"></p>
            </div>
            <div class="col-sm-4">
                <span><strong>{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_17" | translate}}</strong></span>
                <strong ng-bind="consentESignatureVm.attestation.consentStart | date: 'MM/dd/yyyy' "></strong>
            </div>
            <div class="col-sm-4">
                <span><strong>{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_18" | translate}}</strong></span>
                <strong ng-bind="consentESignatureVm.attestation.consentEnd | date: 'MM/dd/yyyy' "></strong>
            </div>
        </div>

        <div class="row m-t m-b-sm">
            <div class="col-sm-12">
                <div class="checkbox">
                    <label for="acceptConsent" class="p-none">
                        <input id="acceptConsent" type="checkbox" c2s-icheck
                               ng-model="consentESignatureVm.attestation.acceptTerms"
                               ng-change="consentESignatureVm.onchecked()">
                        <span class="m-l-xs">{{"CONSENT_MANAGEMENT.CONSENT_CREATE_1" | translate}}<strong ng-bind="consentESignatureVm.attestation | fullName"></strong>{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_19" | translate}}</span>
                    </label>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-12 m-b-md">
        <div class="m-r">
            <div class="pull-right">
                <button class="btn btn-white m-r" type="button" ui-sref="fe.consent.list">{{"CONSENT_MANAGEMENT.CONSENT_CREATE_3" | translate}}</button>
                <button class="btn btn-primary dark-green" type="submit"
                        ng-disabled="!consentESignatureVm.isAuthenticated"
                        ng-click="consentESignatureVm.onCompleteAttestation()">{{"CONSENT_MANAGEMENT.CONSENT_ESIGNATURE_20" | translate}}
                </button>
            </div>
        </div>
    </div>
</div>