<div class="inmodal">
    <div class="modal-header">
        <h2 class="modal-title"><span ng-bind="selectProviderModalVm.title | translate"></span></h2>
    </div>
    <div class="modal-body">
        <p ng-if="!selectProviderModalVm.hasAtLeastTwoProviders()|| selectProviderModalVm.hasNoProviders()">
            {{"CONSENT_MANAGEMENT.PROVIDER_SELECT_1" | translate}} <strong>{{"CONSENT_MANAGEMENT.PROVIDER_SELECT_2" | translate}}</strong></p>
        <p ng-if="!selectProviderModalVm.hasAtLeastTwoProviders()|| selectProviderModalVm.hasNoProviders()"><a
                class="btn btn-primary dark-green" ui-sref="fe.provider.lookup">{{"CONSENT_MANAGEMENT.PROVIDER_SELECT_3" | translate}}</a></p>
        <p ng-if="selectProviderModalVm.hasAtLeastTwoProviders() && selectProviderModalVm.title === 'Authorize'">{{"CONSENT_MANAGEMENT.PROVIDER_SELECT_4" | translate}}
            <strong>{{"CONSENT_MANAGEMENT.PROVIDER_SELECT_5" | translate}}</strong>{{"CONSENT_MANAGEMENT.PROVIDER_SELECT_6" | translate}}</p>
        <p ng-if="selectProviderModalVm.hasAtLeastTwoProviders() && selectProviderModalVm.title === 'Disclosure'">
            {{"CONSENT_MANAGEMENT.PROVIDER_SELECT_4" | translate}} <strong>{{"CONSENT_MANAGEMENT.PROVIDER_SELECT_5" | translate}}</strong>{{"CONSENT_MANAGEMENT.PROVIDER_SELECT_7" | translate}}</p>
        <div class="row">
            <div class="col-sm-12 m-b-xs">
                <h2 ng-if="!selectProviderModalVm.hasNoProviders()"><strong>{{"CONSENT_MANAGEMENT.PROVIDER_SELECT_8" | translate}}</strong></h2>
                <div ng-repeat="provider in selectProviderModalVm.providers">
                    <div ng-if="selectProviderModalVm.isIndividualProvider(provider)">
                        <div class="radio">
                            <label>
                                <input type="radio" c2s-icheck ng-model="selectProviderModalVm.selectedProvider.npi"
                                       ng-value="provider.npi" name="npi"
                                       ng-disabled="selectProviderModalVm.isSelected(provider.npi)">
                                <span class="m-l-xs" ng-bind="provider|pcmProviderNameOrFacility"> </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 m-b-md">
                <h2 ng-if="!selectProviderModalVm.hasNoProviders()"><strong>{{"CONSENT_MANAGEMENT.PROVIDER_SELECT_9" | translate}}</strong></h2>
                <div ng-repeat="provider in selectProviderModalVm.providers">
                    <div ng-if="selectProviderModalVm.isOrganizationProvider(provider)">
                        <div class="radio">
                            <label>
                                <input type="radio" c2s-icheck ng-model="selectProviderModalVm.selectedProvider.npi"
                                       ng-value="provider.npi" name="npi"
                                       ng-disabled="selectProviderModalVm.isSelected(provider.npi)">
                                <span class="m-l-xs" ng-bind="provider|pcmProviderNameOrFacility"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="selectProviderModalVm.cancel()">{{"CONSENT_MANAGEMENT.CONSENT_CREATE_3" | translate}}</button>
        <button type="button" class="btn btn-primary dark-green"
                ng-disabled="!selectProviderModalVm.hasAtLeastTwoProviders()" ng-click="selectProviderModalVm.ok()">
            {{"CONSENT_MANAGEMENT.PROVIDER_SELECT_10" | translate}}
        </button>
    </div>
</div>
