<div ng-if="tryPolicyDropdownVm.option === 'tryMyPolicy'">
    <div class="form-horizontal">
        <div class="form-group m-b-xs"><label class="col-sm-3 control-label">Document</label>
            <div class="col-sm-9">
                <select class="form-control m-b" name="account" ng-model="tryPolicyDropdownVm.documentid">
                    <option ng-repeat="document in tryPolicyDropdownVm.medicaldocuments" value="{{document.id}}">{{document.filename |fileName}}</option>
                </select>
            </div>
        </div>
        <div class="form-group"><label class="col-sm-3 control-label">Purpose of Use</label>
            <div class="col-sm-9">
                <select class="form-control m-b" name="account" ng-model="tryPolicyDropdownVm.purposeofusecode" >
                    <option ng-repeat="purposeOfUse in tryPolicyDropdownVm.shareforpurposeofuse" value="{{purposeOfUse.code}}">{{purposeOfUse.displayName}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
