<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> Purpose of Use</h2>
        </div>
        <div class="panel-body">
            <p>Choose for what purposes your medical information may be used.</p>
            <p>
                <span class="m-r-sm"><strong>SHARE</strong> my medical record ONLY for the selected purposes of use.</span> <button type="button" class="btn btn-primary btn-xs dark-green" ng-click="PurposeOfUseVm.openSelectPurposeModal()">Edit</button>
            </p>
            <div>
                <div class="label label-primary m-l-xs inline dark-green" ng-repeat="purposeOfUse in PurposeOfUseVm.selectedPurposeOfUse" >
                    <span class="fa fa-check m-r-xs"></span>
                    <span ng-bind="purposeOfUse.displayName"></span>
                </div>
            </div>
        </div>
    </div>
</div>