<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins margin-bottom-10">
            <p>
                <a class="btn btn-primary dark-green" ui-sref="fe.consent.create">
                    Add a Consent
                </a>
            </p>
        </div>
    </div>
</div>
<div class="row" id="consent_list" ng-if="consentCardListVm.hasConsents()">
    <div class="col-sm-12">
        <div ng-repeat="consent in consentCardListVm.consentList.consentList">
            <pp-consent-card consent="consent"/>
        </div>
        <div class="text-center">
            <pagination total-items="consentCardListVm.pagination.totalItems"
                        items-per-page="consentCardListVm.pagination.itemsPerPage"
                        ng-model="consentCardListVm.pagination.currentPage"
                        ng-change="consentCardListVm.loadPage()"
                        max-size="consentCardListVm.pagination.maxSize"
                        class="pagination-sm"
                        boundary-links="true"></pagination>
        </div>
    </div>
</div>
<div class="row" ng-if="!consentCardListVm.hasConsents()">
    <div class="col-sm-12">
        <div class="alert alert-danger">
            There are currently no Consents available. Please click the <a class="alert-link" ui-sref="fe.consent.create">Add a Consent</a> button to create a new consent.
        </div>
    </div>
</div>