<div class="inmodal" ng-form name="purposeOfUseModalObj" c2s-popover-close>
    <div class="modal-header">
        <h4 class="modal-title">{{"CONSENT_MANAGEMENT.CONSENT_PURPOSE_5" | translate}}</h4>
    </div>
    <div class="modal-body">
        <div></div>
        <div class="alert alert-warning">{{"CONSENT_MANAGEMENT.CONSENT_PURPOSE_6" | translate}}<strong>{{"CONSENT_MANAGEMENT.CONSENT_PURPOSE_7" | translate}}</strong>{{"CONSENT_MANAGEMENT.CONSENT_PURPOSE_9" | translate}}
        </div>
        <button class="btn btn-primary btn-xs dark-green"
                ng-click="purposeOfUseModalVm.selectAll(purposeOfUseModalObj)">{{"CONSENT_MANAGEMENT.CONSENT_MEDICAL_INFO_16" | translate}}
        </button>
        <button class="btn btn-primary btn-xs dark-green"
                ng-click="purposeOfUseModalVm.deselectAll(purposeOfUseModalObj)"> {{"CONSENT_MANAGEMENT.CONSENT_MEDICAL_INFO_17" | translate}}
        </button>
        <div class="row">
            <div class="col-sm-6">
                <div ng-repeat="purposeOfUse in purposeOfUseModalVm.data">
                    <div>
                        <c2s-category-list
                                category-model="purposeOfUseModalVm.consent.selectedPurposeOfUseCodes"
                                category-obj="purposeOfUse"
                                category-title="purposeOfUse.displayName"
                                category-content="purposeOfUse.description"></c2s-category-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white m-r-xs" ng-click="purposeOfUseModalVm.cancel()">{{"CONSENT_MANAGEMENT.CONSENT_CREATE_3" | translate}}</button>
        <button type="button" class="btn btn-primary dark-green" ng-click="purposeOfUseModalVm.ok()"
                ng-disabled="purposeOfUseModalObj.$pristine">{{"CONSENT_MANAGEMENT.CONSENT_PURPOSE_8" | translate}}
        </button>
    </div>
</div>