<div class="inmodal">
    <div class="modal-header">
        <pp-consent-modal-header option="manageConsentModalVm.option" cancel="manageConsentModalVm.cancel()"></pp-consent-modal-header>
    </div>
    <div class="modal-body">
        <div ng-if="manageConsentModalVm.option === 'manageConcent'">
            <h3>I want to:</h3>
            <div class="list-group" >
                <a href="" class="list-group-item" ><h4><i class="fa fa-folder-open-o fa-lg m-r-sm"></i>View Signed Consent</h4></a>
                <a href="" class="list-group-item" ng-click="manageConsentModalVm.exportConsentDirective()"><h4><i class="fa fa-file-text-o fa-lg m-r-sm"></i>Export Consent Directive</button></h4></a>
                <a href="" class="list-group-item" ng-click="manageConsentModalVm.setOption('tryMyPolicy')"><h4><i class="fa fa-gear fa-lg m-r-sm"></i>Try My Consent Settings against My Medical Record before Sharing</h4></a>
                <a href="" class="list-group-item" ng-click="manageConsentModalVm.revoke()"><h4><i class="fa fa-times fa-lg m-r-sm"></i>Withdrawal</h4></a>
            </div>
        </div>
        <pp-consent-try-policy-dropdown
                documentid="manageConsentModalVm.selMedicalDocumentId"
                option="manageConsentModalVm.option"
                shareforpurposeofuse="manageConsentModalVm.shareForPurposeOfUse"
                purposeofusecode="manageConsentModalVm.purposeOfUseCode"
                medicaldocuments="manageConsentModalVm.medicalDocuments" >
        </pp-consent-try-policy-dropdown>
    </div>

    <div class="modal-footer" >
        <pp-consent-modal-footer
            option="manageConsentModalVm.option"
            setoption="manageConsentModalVm.setOption(option)"
            applytrymypolicy="manageConsentModalVm.applyTryMyPolicy()"
            deleteconsent="manageConsentModalVm.deleteConsent()">
    </pp-consent-modal-footer>
    </div>
</div>
