<div class="inmodal">
    <div class="modal-header">
        <c2s-consent-modal-header option="manageConsentModalVm.option"
                                  cancel="manageConsentModalVm.cancel()"></c2s-consent-modal-header>
    </div>
    <div class="modal-body">
        <div ng-if="manageConsentModalVm.option === 'manageConcent'">
            <h3>{{"CONSENT_MANAGEMENT.OPTIONS" | translate}}</h3>
            <div class="list-group">
                <a href="" class="list-group-item" ng-click="manageConsentModalVm.downloadAttestedConsent('signed')">
                    <h4><i class="fa fa-folder-open-o fa-lg m-r-sm"></i>{{"CONSENT_MANAGEMENT.OPTIONS_1" | translate}}</h4></a>
                <a href="" class="list-group-item" ng-click="manageConsentModalVm.exportConsentDirective()"><h4><i
                        class="fa fa-file-text-o fa-lg m-r-sm"></i>{{"CONSENT_MANAGEMENT.OPTIONS_2" | translate}}</button></h4></a>
                <a href="" class="list-group-item" ng-click="manageConsentModalVm.setOption('tryMyPolicy')"><h4><i
                        class="fa fa-gear fa-lg m-r-sm"></i>{{"CONSENT_MANAGEMENT.OPTIONS_3" | translate}}</h4></a>
                <a href="" class="list-group-item" ng-click="manageConsentModalVm.revoke()"><h4><i
                        class="fa fa-times fa-lg m-r-sm"></i>{{"CONSENT_MANAGEMENT.OPTIONS_9" | translate}}</h4></a>
            </div>
        </div>
        <c2s-consent-try-policy-dropdown
                documentid="manageConsentModalVm.selMedicalDocumentId"
                option="manageConsentModalVm.option"
                shareforpurposeofuse="manageConsentModalVm.shareForPurposeOfUse"
                purposeofusecode="manageConsentModalVm.purposeOfUseCode"
                medicaldocuments="manageConsentModalVm.medicalDocuments">
        </c2s-consent-try-policy-dropdown>
    </div>

    <div class="modal-footer">
        <c2s-consent-modal-footer
                option="manageConsentModalVm.option"
                setoption="manageConsentModalVm.setOption(option)"
                applytrymypolicy="manageConsentModalVm.applyTryMyPolicy()"
                deleteconsent="manageConsentModalVm.deleteConsent()">
        </c2s-consent-modal-footer>
    </div>
</div>