<div class="inmodal" ng-form name="purposeOfUseModalObj" mhc-popover-close>
    <div class="modal-header">
        <h4 class="modal-title">Share for selected purpose only</h4>
    </div>
    <div class="modal-body">
        <div></div>
        <div class="alert alert-warning"> Share my information <strong>only</strong> for specified purposes of use.
        </div>
        <button class="btn btn-primary btn-xs dark-green"
                ng-click="purposeOfUseModalVm.selectAll(purposeOfUseModalObj)">Select All
        </button>
        <button class="btn btn-primary btn-xs dark-green"
                ng-click="purposeOfUseModalVm.deselectAll(purposeOfUseModalObj)">Deselect All
        </button>
        <div class="row">
            <div class="col-sm-6">
                <div ng-repeat="purposeOfUse in purposeOfUseModalVm.data">
                    <div>
                        <c2s-category-list
                                category-model="purposeOfUseModalVm.consent.selectedPurposeOfUseCodes"
                                category-obj="purposeOfUse"
                                category-title="purposeOfUse.displayName"
                                category-content="purposeOfUse.description"></c2s-category-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white m-r-xs" ng-click="purposeOfUseModalVm.cancel()">Cancel</button>
        <button type="button" class="btn btn-primary dark-green" ng-click="purposeOfUseModalVm.ok()"
                ng-disabled="purposeOfUseModalObj.$pristine">Save changes
        </button>
    </div>
</div>